Repository openstack/neutron: changes, and which Zuul jobs are due for each by the changed paths.
All: neutron-functional, neutron-fullstack, neutron-rally-task, neutron-ovn-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-ovn-grenade, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-tempest-postgres-full, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, neutron-centos-7-tripleo-standalone, neutron-ovn-tripleo-ci-centos-7-containers-multinode, neutron-ovn-base, neutron-ovn-tempest-ovs-master, neutron-ovn-tempest-ovs-release, neutron-ovn-tempest-ovs-master-fedora, neutron-ovn-tempest-slow, neutron-ovn-tempest-full-multinode-ovs-master, tempest-integrated-networking, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-midonet-tempest-aio-ml2-centos-7, tempest-ipv6-only

neutron-functional:
  parent: devstack-minimal
  description: Run neutron functional tests
  timeout: 7800
  required-projects:
  - opendev.org/openstack/devstack
  - openstack/neutron
  - openstack/requirements
  roles:
  - zuul: openstack/devstack
  pre-run: playbooks/configure_functional_job.yaml
  run: playbooks/run_functional_job.yaml
  ...

neutron-fullstack:
  parent: neutron-functional
  vars:
    tox_envlist: dsvm-fullstack
    zuul_copy_output:
      '{{ devstack_base_dir }}/logs/dsvm-fullstack-logs': logs

neutron-rally-task:
  parent: rally-task-neutron
  timeout: 10800
  vars:
    devstack_localrc:
      USE_PYTHON3: true
      OSPROFILER_COLLECTOR: redis
      OSPROFILER_HMAC_KEYS: neutron-hmac-key-used-in-zuul-ci
    rally_task: rally-jobs/task-neutron.yaml
    devstack_plugins:
  ...

neutron-ovn-rally-task:
  parent: rally-task-at-devstack
  required-projects:
  - name: openstack/devstack
  - name: openstack/devstack-gate
  - name: openstack/rally
  - name: openstack/rally-openstack
  - name: openstack/networking-ovn
  vars:
    devstack_plugins:
      rally-openstack: https://opendev.org/openstack/rally-openstack
  ...

neutron-tempest-dvr:
  parent: tempest-integrated-networking
  timeout: 10800
  required-projects:
  - openstack/devstack-gate
  - openstack/neutron
  - openstack/tempest
  vars:
    tempest_concurrency: 4
    devstack_localrc:
      Q_DVR_MODE: dvr_snat

neutron-tempest-linuxbridge:
  parent: tempest-integrated-networking
  timeout: 10800
  required-projects:
  - openstack/devstack-gate
  - openstack/neutron
  - openstack/tempest
  vars:
    tempest_concurrency: 4
    devstack_localrc:
      Q_AGENT: linuxbridge

neutron-grenade-multinode:
  parent: legacy-dsvm-base-multinode
  run: playbooks/legacy/neutron-grenade-multinode/run.yaml
  post-run: playbooks/legacy/neutron-grenade-multinode/post.yaml
  timeout: 10800
  required-projects:
  - openstack/grenade
  - openstack/devstack-gate
  - openstack/neutron

neutron-grenade-dvr-multinode:
  parent: legacy-dsvm-base-multinode
  run: playbooks/legacy/neutron-grenade-dvr-multinode/run.yaml
  post-run: playbooks/legacy/neutron-grenade-dvr-multinode/post.yaml
  timeout: 7500
  required-projects:
  - openstack/grenade
  - openstack/devstack-gate
  - openstack/neutron

neutron-ovn-grenade:
  parent: legacy-dsvm-base
  run: playbooks/legacy/grenade-dsvm-networking-ovn/run.yaml
  post-run: playbooks/legacy/grenade-dsvm-networking-ovn/post.yaml
  timeout: 9000
  required-projects:
  - openstack/grenade
  - openstack/devstack-gate
  - openstack/neutron-tempest-plugin
  - openstack/tempest
  ...

neutron-tempest-dvr-ha-multinode-full:
  parent: tempest-multinode-full-py3
  nodeset: openstack-three-node-bionic
  timeout: 10800
  roles:
  - zuul: openstack/neutron-tempest-plugin
  required-projects:
  - openstack/devstack-gate
  - openstack/neutron
  - openstack/tempest
  pre-run: playbooks/dvr-multinode-scenario-pre-run.yaml
  voting: false
  vars:
  ...

Mock check if ipv6 is enabled in L3 agent unit tests
  neutron/tests/unit/agent/l3/test_agent.py
Due: neutron-functional, neutron-fullstack, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi

Remove Floating IP DNS record upon associated port deletion
  neutron/db/l3_db.py
  releasenotes/notes/releasenotes/notes/bug-1812168-838b20237ad04df8.yaml
Due: neutron-functional, neutron-fullstack, neutron-rally-task, neutron-ovn-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-ovn-grenade, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-tempest-postgres-full, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, neutron-centos-7-tripleo-standalone, neutron-ovn-tripleo-ci-centos-7-containers-multinode, neutron-ovn-base, neutron-ovn-tempest-ovs-master, neutron-ovn-tempest-ovs-release, neutron-ovn-tempest-ovs-master-fedora, neutron-ovn-tempest-slow, neutron-ovn-tempest-full-multinode-ovs-master, tempest-integrated-networking, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-midonet-tempest-aio-ml2-centos-7, tempest-ipv6-only

ovs agent: signal to plugin if tunnel refresh needed
  neutron/plugins/ml2/drivers/openvswitch/agent/ovs_neutron_agent.py
Due: neutron-functional, neutron-fullstack, neutron-rally-task, neutron-ovn-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-ovn-grenade, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-tempest-postgres-full, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, neutron-centos-7-tripleo-standalone, neutron-ovn-tripleo-ci-centos-7-containers-multinode, neutron-ovn-base, neutron-ovn-tempest-ovs-master, neutron-ovn-tempest-ovs-release, neutron-ovn-tempest-ovs-master-fedora, neutron-ovn-tempest-slow, neutron-ovn-tempest-full-multinode-ovs-master, tempest-integrated-networking, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-midonet-tempest-aio-ml2-centos-7, tempest-ipv6-only

Add VLAN type conntrack direct flow
  doc/source/contributor/internals/openvswitch_firewall.rst
  neutron/agent/linux/openvswitch_firewall/firewall.py
  neutron/tests/unit/agent/linux/openvswitch_firewall/test_firewall.py
  releasenotes/notes/vlan-type-conntrack-direct-d3d544f8471ed4ff.yaml
Due: neutron-functional, neutron-fullstack, neutron-rally-task, neutron-ovn-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-ovn-grenade, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-tempest-postgres-full, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, neutron-centos-7-tripleo-standalone, neutron-ovn-tripleo-ci-centos-7-containers-multinode, neutron-ovn-base, neutron-ovn-tempest-ovs-master, neutron-ovn-tempest-ovs-release, neutron-ovn-tempest-ovs-master-fedora, neutron-ovn-tempest-slow, neutron-ovn-tempest-full-multinode-ovs-master, tempest-integrated-networking, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-midonet-tempest-aio-ml2-centos-7, tempest-ipv6-only

Add accepted egress direct flow
  neutron/agent/linux/openvswitch_firewall/firewall.py
  neutron/agent/securitygroups_rpc.py
  neutron/conf/plugins/ml2/drivers/ovs_conf.py
  neutron/plugins/ml2/drivers/openvswitch/agent/common/constants.py
  neutron/plugins/ml2/drivers/openvswitch/agent/openflow/native/br_int.py
  neutron/plugins/ml2/drivers/openvswitch/agent/ovs_dvr_neutron_agent.py
  neutron/plugins/ml2/drivers/openvswitch/agent/ovs_neutron_agent.py
  neutron/tests/unit/agent/linux/openvswitch_firewall/test_firewall.py
  neutron/tests/unit/plugins/ml2/drivers/openvswitch/agent/openflow/native/test_br_int.py
  neutron/tests/unit/plugins/ml2/drivers/openvswitch/agent/test_ovs_neutron_agent.py
  neutron/tests/unit/plugins/ml2/drivers/openvswitch/agent/test_ovs_tunnel.py
  releasenotes/notes/accepted_egress_direct-cc23873e213c6919.yaml
Due: neutron-functional, neutron-fullstack, neutron-rally-task, neutron-ovn-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-ovn-grenade, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-tempest-postgres-full, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, neutron-centos-7-tripleo-standalone, neutron-ovn-tripleo-ci-centos-7-containers-multinode, neutron-ovn-base, neutron-ovn-tempest-ovs-master, neutron-ovn-tempest-ovs-release, neutron-ovn-tempest-ovs-master-fedora, neutron-ovn-tempest-slow, neutron-ovn-tempest-full-multinode-ovs-master, tempest-integrated-networking, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-midonet-tempest-aio-ml2-centos-7, tempest-ipv6-only

Do not initialize snat-ns twice
  neutron/agent/l3/dvr_edge_ha_router.py
  neutron/agent/l3/dvr_edge_router.py
  neutron/tests/unit/agent/l3/test_dvr_local_router.py
Due: neutron-functional, neutron-fullstack, neutron-rally-task, neutron-ovn-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-ovn-grenade, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-tempest-postgres-full, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, neutron-centos-7-tripleo-standalone, neutron-ovn-tripleo-ci-centos-7-containers-multinode, neutron-ovn-base, neutron-ovn-tempest-ovs-master, neutron-ovn-tempest-ovs-release, neutron-ovn-tempest-ovs-master-fedora, neutron-ovn-tempest-slow, neutron-ovn-tempest-full-multinode-ovs-master, tempest-integrated-networking, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-midonet-tempest-aio-ml2-centos-7, tempest-ipv6-only

Blacklist test_multiple_ports_portrange_remote for OVN
  zuul.d/tempest-singlenode.yaml
Due: neutron-functional, neutron-fullstack, neutron-rally-task, neutron-ovn-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-ovn-grenade, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-tempest-postgres-full, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, neutron-centos-7-tripleo-standalone, neutron-ovn-tripleo-ci-centos-7-containers-multinode, neutron-ovn-base, neutron-ovn-tempest-ovs-master, neutron-ovn-tempest-ovs-release, neutron-ovn-tempest-ovs-master-fedora, neutron-ovn-tempest-slow, neutron-ovn-tempest-full-multinode-ovs-master, tempest-integrated-networking, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-midonet-tempest-aio-ml2-centos-7, tempest-ipv6-only

Improve log message on exception for invalid tunnel type
  neutron/plugins/ml2/drivers/type_tunnel.py
Due: neutron-functional, neutron-fullstack, neutron-rally-task, neutron-ovn-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-ovn-grenade, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-tempest-postgres-full, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, neutron-centos-7-tripleo-standalone, neutron-ovn-tripleo-ci-centos-7-containers-multinode, neutron-ovn-base, neutron-ovn-tempest-ovs-master, neutron-ovn-tempest-ovs-release, neutron-ovn-tempest-ovs-master-fedora, neutron-ovn-tempest-slow, neutron-ovn-tempest-full-multinode-ovs-master, tempest-integrated-networking, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-midonet-tempest-aio-ml2-centos-7, tempest-ipv6-only

[OvS] Handle re_added multi ports
  neutron/plugins/ml2/drivers/openvswitch/agent/ovs_neutron_agent.py
  neutron/tests/unit/plugins/ml2/drivers/openvswitch/agent/test_ovs_neutron_agent.py
Due: neutron-functional, neutron-fullstack, neutron-rally-task, neutron-ovn-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-ovn-grenade, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-tempest-postgres-full, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, neutron-centos-7-tripleo-standalone, neutron-ovn-tripleo-ci-centos-7-containers-multinode, neutron-ovn-base, neutron-ovn-tempest-ovs-master, neutron-ovn-tempest-ovs-release, neutron-ovn-tempest-ovs-master-fedora, neutron-ovn-tempest-slow, neutron-ovn-tempest-full-multinode-ovs-master, tempest-integrated-networking, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-midonet-tempest-aio-ml2-centos-7, tempest-ipv6-only

Remove neutron-tempest-dvr job from CI
  doc/source/contributor/testing/ci_scenario_jobs.rst
  zuul.d/project.yaml
  zuul.d/tempest-multinode.yaml
Due: neutron-functional, neutron-fullstack, neutron-rally-task, neutron-ovn-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-ovn-grenade, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-tempest-postgres-full, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, neutron-centos-7-tripleo-standalone, neutron-ovn-tripleo-ci-centos-7-containers-multinode, neutron-ovn-base, neutron-ovn-tempest-ovs-master, neutron-ovn-tempest-ovs-release, neutron-ovn-tempest-ovs-master-fedora, neutron-ovn-tempest-slow, neutron-ovn-tempest-full-multinode-ovs-master, tempest-integrated-networking, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-midonet-tempest-aio-ml2-centos-7, tempest-ipv6-only

Add functional test for metadata agent monitoring
  neutron/tests/functional/agent/ovn/metadata/test_metadata_agent.py
Due: neutron-functional, neutron-fullstack, neutron-rally-task, neutron-ovn-rally-task, neutron-tempest-dvr, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-ovn-grenade, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-tempest-postgres-full, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, neutron-centos-7-tripleo-standalone, neutron-ovn-tripleo-ci-centos-7-containers-multinode, neutron-ovn-base, neutron-ovn-tempest-ovs-master, neutron-ovn-tempest-ovs-release, neutron-ovn-tempest-ovs-master-fedora, neutron-ovn-tempest-slow, neutron-ovn-tempest-full-multinode-ovs-master, tempest-integrated-networking, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-midonet-tempest-aio-ml2-centos-7, tempest-ipv6-only

Remove leftovers of get_external_network_id for router
  neutron/api/rpc/handlers/l3_rpc.py
  neutron/db/external_net_db.py
Due: neutron-functional, neutron-fullstack, neutron-rally-task, neutron-ovn-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-ovn-grenade, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-tempest-postgres-full, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, neutron-centos-7-tripleo-standalone, neutron-ovn-tripleo-ci-centos-7-containers-multinode, neutron-ovn-base, neutron-ovn-tempest-ovs-master, neutron-ovn-tempest-ovs-release, neutron-ovn-tempest-ovs-master-fedora, neutron-ovn-tempest-slow, neutron-ovn-tempest-full-multinode-ovs-master, tempest-integrated-networking, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-midonet-tempest-aio-ml2-centos-7, tempest-ipv6-only

Catch PortBindingChassisEvent in test_agent_resync_on_non_existing_bridge
  neutron/tests/functional/agent/ovn/metadata/test_metadata_agent.py
Due: neutron-functional, neutron-fullstack, neutron-rally-task, neutron-ovn-rally-task, neutron-tempest-dvr, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-ovn-grenade, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-tempest-postgres-full, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, neutron-centos-7-tripleo-standalone, neutron-ovn-tripleo-ci-centos-7-containers-multinode, neutron-ovn-base, neutron-ovn-tempest-ovs-master, neutron-ovn-tempest-ovs-release, neutron-ovn-tempest-ovs-master-fedora, neutron-ovn-tempest-slow, neutron-ovn-tempest-full-multinode-ovs-master, tempest-integrated-networking, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-midonet-tempest-aio-ml2-centos-7, tempest-ipv6-only

Ensure netlink.nla_slot tuple key is a string
  neutron/privileged/agent/linux/ip_lib.py
  neutron/tests/unit/privileged/agent/linux/test_ip_lib.py
Due: neutron-functional, neutron-fullstack, neutron-rally-task, neutron-ovn-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-ovn-grenade, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-tempest-postgres-full, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, neutron-centos-7-tripleo-standalone, neutron-ovn-tripleo-ci-centos-7-containers-multinode, neutron-ovn-base, neutron-ovn-tempest-ovs-master, neutron-ovn-tempest-ovs-release, neutron-ovn-tempest-ovs-master-fedora, neutron-ovn-tempest-slow, neutron-ovn-tempest-full-multinode-ovs-master, tempest-integrated-networking, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-midonet-tempest-aio-ml2-centos-7, tempest-ipv6-only

Fix queries to retrieve allocations with network_segment_range
  neutron/common/_constants.py
  neutron/db/models/plugins/ml2/geneveallocation.py
  neutron/db/models/plugins/ml2/gre_allocation_endpoints.py
  neutron/db/models/plugins/ml2/vlanallocation.py
  neutron/db/models/plugins/ml2/vxlanallocation.py
  neutron/objects/network_segment_range.py
  neutron/objects/plugins/ml2/base.py
  neutron/objects/plugins/ml2/flatallocation.py
  neutron/objects/plugins/ml2/geneveallocation.py
  neutron/objects/plugins/ml2/greallocation.py
  neutron/objects/plugins/ml2/vlanallocation.py
  neutron/objects/plugins/ml2/vxlanallocation.py
  neutron/plugins/ml2/drivers/helpers.py
  neutron/tests/unit/objects/plugins/ml2/test_base.py
  neutron/tests/unit/objects/plugins/ml2/test_geneveallocation.py
  neutron/tests/unit/objects/plugins/ml2/test_greallocation.py
  neutron/tests/unit/objects/plugins/ml2/test_vlanallocation.py
  neutron/tests/unit/objects/plugins/ml2/test_vxlanallocation.py
  neutron/tests/unit/objects/test_network_segment_range.py
Due: neutron-functional, neutron-fullstack, neutron-rally-task, neutron-ovn-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-ovn-grenade, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-tempest-postgres-full, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, neutron-centos-7-tripleo-standalone, neutron-ovn-tripleo-ci-centos-7-containers-multinode, neutron-ovn-base, neutron-ovn-tempest-ovs-master, neutron-ovn-tempest-ovs-release, neutron-ovn-tempest-ovs-master-fedora, neutron-ovn-tempest-slow, neutron-ovn-tempest-full-multinode-ovs-master, tempest-integrated-networking, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-midonet-tempest-aio-ml2-centos-7, tempest-ipv6-only

Random IP for concurrent create pf and update_port
  neutron/tests/functional/services/portforwarding/test_port_forwarding.py
  neutron/tests/unit/db/test_db_base_plugin_v2.py
Due: neutron-functional, neutron-fullstack, neutron-rally-task, neutron-ovn-rally-task, neutron-tempest-dvr, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-ovn-grenade, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-tempest-postgres-full, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, neutron-centos-7-tripleo-standalone, neutron-ovn-tripleo-ci-centos-7-containers-multinode, neutron-ovn-base, neutron-ovn-tempest-ovs-master, neutron-ovn-tempest-ovs-release, neutron-ovn-tempest-ovs-master-fedora, neutron-ovn-tempest-slow, neutron-ovn-tempest-full-multinode-ovs-master, tempest-integrated-networking, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-midonet-tempest-aio-ml2-centos-7, tempest-ipv6-only

[OVN] Update zuul jobs to use local OVN driver
  zuul.d/rally.yaml
  zuul.d/tempest-multinode.yaml
Due: neutron-functional, neutron-fullstack, neutron-rally-task, neutron-ovn-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-ovn-grenade, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-tempest-postgres-full, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, neutron-centos-7-tripleo-standalone, neutron-ovn-tripleo-ci-centos-7-containers-multinode, neutron-ovn-base, neutron-ovn-tempest-ovs-master, neutron-ovn-tempest-ovs-release, neutron-ovn-tempest-ovs-master-fedora, neutron-ovn-tempest-slow, neutron-ovn-tempest-full-multinode-ovs-master, tempest-integrated-networking, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-midonet-tempest-aio-ml2-centos-7, tempest-ipv6-only

Fix logging call in the segment plugin
  neutron/services/segments/plugin.py
Due: neutron-functional, neutron-fullstack, neutron-rally-task, neutron-ovn-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-ovn-grenade, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-tempest-postgres-full, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, neutron-centos-7-tripleo-standalone, neutron-ovn-tripleo-ci-centos-7-containers-multinode, neutron-ovn-base, neutron-ovn-tempest-ovs-master, neutron-ovn-tempest-ovs-release, neutron-ovn-tempest-ovs-master-fedora, neutron-ovn-tempest-slow, neutron-ovn-tempest-full-multinode-ovs-master, tempest-integrated-networking, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-midonet-tempest-aio-ml2-centos-7, tempest-ipv6-only

Revert "Blacklist test_multiple_ports_portrange_remote for OVN"
  zuul.d/tempest-singlenode.yaml
Due: neutron-functional, neutron-fullstack, neutron-rally-task, neutron-ovn-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-ovn-grenade, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-tempest-postgres-full, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, neutron-centos-7-tripleo-standalone, neutron-ovn-tripleo-ci-centos-7-containers-multinode, neutron-ovn-base, neutron-ovn-tempest-ovs-master, neutron-ovn-tempest-ovs-release, neutron-ovn-tempest-ovs-master-fedora, neutron-ovn-tempest-slow, neutron-ovn-tempest-full-multinode-ovs-master, tempest-integrated-networking, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-midonet-tempest-aio-ml2-centos-7, tempest-ipv6-only

[OVN] Remove SG dependency on original port dict
  neutron/plugins/ml2/drivers/ovn/mech_driver/ovsdb/ovn_client.py
Due: neutron-functional, neutron-fullstack, neutron-rally-task, neutron-ovn-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-ovn-grenade, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-tempest-postgres-full, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, neutron-centos-7-tripleo-standalone, neutron-ovn-tripleo-ci-centos-7-containers-multinode, neutron-ovn-base, neutron-ovn-tempest-ovs-master, neutron-ovn-tempest-ovs-release, neutron-ovn-tempest-ovs-master-fedora, neutron-ovn-tempest-slow, neutron-ovn-tempest-full-multinode-ovs-master, tempest-integrated-networking, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-midonet-tempest-aio-ml2-centos-7, tempest-ipv6-only

Ensure that default SG exists during list of SG rules API call
  neutron/db/securitygroups_db.py
Due: neutron-functional, neutron-fullstack, neutron-rally-task, neutron-ovn-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-ovn-grenade, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-tempest-postgres-full, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, neutron-centos-7-tripleo-standalone, neutron-ovn-tripleo-ci-centos-7-containers-multinode, neutron-ovn-base, neutron-ovn-tempest-ovs-master, neutron-ovn-tempest-ovs-release, neutron-ovn-tempest-ovs-master-fedora, neutron-ovn-tempest-slow, neutron-ovn-tempest-full-multinode-ovs-master, tempest-integrated-networking, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-midonet-tempest-aio-ml2-centos-7, tempest-ipv6-only

Add tag-ports-during-bulk-creation to devstack
  devstack/lib/tag_ports_during_bulk_creation
  devstack/plugin.sh
Due: neutron-functional, neutron-fullstack, neutron-rally-task, neutron-ovn-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-ovn-grenade, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-tempest-postgres-full, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, neutron-centos-7-tripleo-standalone, neutron-ovn-tripleo-ci-centos-7-containers-multinode, neutron-ovn-base, neutron-ovn-tempest-ovs-master, neutron-ovn-tempest-ovs-release, neutron-ovn-tempest-ovs-master-fedora, neutron-ovn-tempest-slow, neutron-ovn-tempest-full-multinode-ovs-master, tempest-integrated-networking, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-midonet-tempest-aio-ml2-centos-7, tempest-ipv6-only

[OVN] Always update router static route
  neutron/plugins/ml2/drivers/ovn/mech_driver/ovsdb/ovn_client.py
  neutron/tests/unit/services/ovn_l3/test_plugin.py
Due: neutron-functional, neutron-fullstack, neutron-rally-task, neutron-ovn-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-ovn-grenade, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-tempest-postgres-full, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, neutron-centos-7-tripleo-standalone, neutron-ovn-tripleo-ci-centos-7-containers-multinode, neutron-ovn-base, neutron-ovn-tempest-ovs-master, neutron-ovn-tempest-ovs-release, neutron-ovn-tempest-ovs-master-fedora, neutron-ovn-tempest-slow, neutron-ovn-tempest-full-multinode-ovs-master, tempest-integrated-networking, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-midonet-tempest-aio-ml2-centos-7, tempest-ipv6-only

Change way of retrieving LSP in virtual_port functional tests
  neutron/tests/functional/plugins/ml2/drivers/ovn/mech_driver/test_mech_driver.py
Due: neutron-functional, neutron-fullstack, neutron-rally-task, neutron-ovn-rally-task, neutron-tempest-dvr, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-ovn-grenade, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-tempest-postgres-full, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, neutron-centos-7-tripleo-standalone, neutron-ovn-tripleo-ci-centos-7-containers-multinode, neutron-ovn-base, neutron-ovn-tempest-ovs-master, neutron-ovn-tempest-ovs-release, neutron-ovn-tempest-ovs-master-fedora, neutron-ovn-tempest-slow, neutron-ovn-tempest-full-multinode-ovs-master, tempest-integrated-networking, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-midonet-tempest-aio-ml2-centos-7, tempest-ipv6-only

Make neutron-ovn-tempest-slow job green
  zuul.d/tempest-multinode.yaml
Due: neutron-functional, neutron-fullstack, neutron-rally-task, neutron-ovn-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-ovn-grenade, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-tempest-postgres-full, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, neutron-centos-7-tripleo-standalone, neutron-ovn-tripleo-ci-centos-7-containers-multinode, neutron-ovn-base, neutron-ovn-tempest-ovs-master, neutron-ovn-tempest-ovs-release, neutron-ovn-tempest-ovs-master-fedora, neutron-ovn-tempest-slow, neutron-ovn-tempest-full-multinode-ovs-master, tempest-integrated-networking, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-midonet-tempest-aio-ml2-centos-7, tempest-ipv6-only

[OVN] Enable live-migration tests for devstack multinode
  zuul.d/tempest-multinode.yaml
Due: neutron-functional, neutron-fullstack, neutron-rally-task, neutron-ovn-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-ovn-grenade, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-tempest-postgres-full, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, neutron-centos-7-tripleo-standalone, neutron-ovn-tripleo-ci-centos-7-containers-multinode, neutron-ovn-base, neutron-ovn-tempest-ovs-master, neutron-ovn-tempest-ovs-release, neutron-ovn-tempest-ovs-master-fedora, neutron-ovn-tempest-slow, neutron-ovn-tempest-full-multinode-ovs-master, tempest-integrated-networking, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-midonet-tempest-aio-ml2-centos-7, tempest-ipv6-only

Allow usage of assert_called_once method in unit tests
  neutron/hacking/checks.py
  neutron/tests/unit/hacking/test_checks.py
Due: neutron-functional, neutron-fullstack, neutron-rally-task, neutron-ovn-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-ovn-grenade, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-tempest-postgres-full, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, neutron-centos-7-tripleo-standalone, neutron-ovn-tripleo-ci-centos-7-containers-multinode, neutron-ovn-base, neutron-ovn-tempest-ovs-master, neutron-ovn-tempest-ovs-release, neutron-ovn-tempest-ovs-master-fedora, neutron-ovn-tempest-slow, neutron-ovn-tempest-full-multinode-ovs-master, tempest-integrated-networking, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-midonet-tempest-aio-ml2-centos-7, tempest-ipv6-only

[OVN] DevStack: Split the OVN_BRANCH and OVS_BRANCH variables
  devstack/lib/ovn_agent
  zuul.d/tempest-singlenode.yaml
Due: neutron-functional, neutron-fullstack, neutron-rally-task, neutron-ovn-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-ovn-grenade, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-tempest-postgres-full, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, neutron-centos-7-tripleo-standalone, neutron-ovn-tripleo-ci-centos-7-containers-multinode, neutron-ovn-base, neutron-ovn-tempest-ovs-master, neutron-ovn-tempest-ovs-release, neutron-ovn-tempest-ovs-master-fedora, neutron-ovn-tempest-slow, neutron-ovn-tempest-full-multinode-ovs-master, tempest-integrated-networking, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-midonet-tempest-aio-ml2-centos-7, tempest-ipv6-only

Remove extra header fields in proxied metadata requests
  neutron/agent/metadata/agent.py
  neutron/agent/metadata/driver.py
  neutron/tests/unit/agent/metadata/test_agent.py
  neutron/tests/unit/agent/metadata/test_driver.py
  releasenotes/notes/metadata-proxy-header-vulnerability-60c44eb7c76d560c.yaml
Due: neutron-functional, neutron-fullstack, neutron-rally-task, neutron-ovn-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-ovn-grenade, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-tempest-postgres-full, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, neutron-centos-7-tripleo-standalone, neutron-ovn-tripleo-ci-centos-7-containers-multinode, neutron-ovn-base, neutron-ovn-tempest-ovs-master, neutron-ovn-tempest-ovs-release, neutron-ovn-tempest-ovs-master-fedora, neutron-ovn-tempest-slow, neutron-ovn-tempest-full-multinode-ovs-master, tempest-integrated-networking, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-midonet-tempest-aio-ml2-centos-7, tempest-ipv6-only

Fix assertEqual() calls in metadata agent unit tests
  neutron/tests/unit/agent/metadata/test_agent.py
Due: neutron-functional, neutron-fullstack, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi

Increase log information in "TestMonitorDaemon"
  neutron/tests/functional/agent/l3/test_keepalived_state_change.py
Due: neutron-functional, neutron-fullstack, neutron-rally-task, neutron-ovn-rally-task, neutron-tempest-dvr, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-ovn-grenade, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-tempest-postgres-full, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, neutron-centos-7-tripleo-standalone, neutron-ovn-tripleo-ci-centos-7-containers-multinode, neutron-ovn-base, neutron-ovn-tempest-ovs-master, neutron-ovn-tempest-ovs-release, neutron-ovn-tempest-ovs-master-fedora, neutron-ovn-tempest-slow, neutron-ovn-tempest-full-multinode-ovs-master, tempest-integrated-networking, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-midonet-tempest-aio-ml2-centos-7, tempest-ipv6-only

Clean dvr fip gateway entry when fip agent gw port is deleted
  neutron/db/l3_dvr_db.py
  neutron/tests/unit/db/test_l3_dvr_db.py
Due: neutron-functional, neutron-fullstack, neutron-rally-task, neutron-ovn-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-ovn-grenade, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-tempest-postgres-full, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, neutron-centos-7-tripleo-standalone, neutron-ovn-tripleo-ci-centos-7-containers-multinode, neutron-ovn-base, neutron-ovn-tempest-ovs-master, neutron-ovn-tempest-ovs-release, neutron-ovn-tempest-ovs-master-fedora, neutron-ovn-tempest-slow, neutron-ovn-tempest-full-multinode-ovs-master, tempest-integrated-networking, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-midonet-tempest-aio-ml2-centos-7, tempest-ipv6-only

Fix _notify_l3_agent_port_update when there is no binding host
  neutron/db/l3_dvrscheduler_db.py
  neutron/db/l3_hascheduler_db.py
Due: neutron-functional, neutron-fullstack, neutron-rally-task, neutron-ovn-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-ovn-grenade, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-tempest-postgres-full, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, neutron-centos-7-tripleo-standalone, neutron-ovn-tripleo-ci-centos-7-containers-multinode, neutron-ovn-base, neutron-ovn-tempest-ovs-master, neutron-ovn-tempest-ovs-release, neutron-ovn-tempest-ovs-master-fedora, neutron-ovn-tempest-slow, neutron-ovn-tempest-full-multinode-ovs-master, tempest-integrated-networking, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-midonet-tempest-aio-ml2-centos-7, tempest-ipv6-only

Path conditions:
  neutron-functional: unless all of: ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^releasenotes/.*$
  neutron-fullstack: unless all of: ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^releasenotes/.*$
  neutron-rally-task: unless all of: ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$
  neutron-ovn-rally-task: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$
  neutron-tempest-dvr: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$
  neutron-tempest-linuxbridge: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-grenade-multinode: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$
  neutron-grenade-dvr-multinode: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$
  neutron-ovn-grenade: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$
  neutron-tempest-dvr-ha-multinode-full: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$
  neutron-tempest-iptables_hybrid: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$
  neutron-grenade: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$
  neutron-tempest-postgres-full: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$
  neutron-fullstack-with-uwsgi: unless all of: ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^releasenotes/.*$
  neutron-functional-with-uwsgi: unless all of: ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^releasenotes/.*$
  neutron-tempest-with-uwsgi: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$
  neutron-centos-7-tripleo-standalone: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$
  neutron-ovn-tripleo-ci-centos-7-containers-multinode: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$
  neutron-ovn-base: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$
  neutron-ovn-tempest-ovs-master: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$
  neutron-ovn-tempest-ovs-release: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$
  neutron-ovn-tempest-ovs-master-fedora: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$
  neutron-ovn-tempest-slow: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$
  neutron-ovn-tempest-full-multinode-ovs-master: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$
  tempest-integrated-networking: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$
  tempest-multinode-full-py3: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$
  ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$
  tempest-slow-py3: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$
  networking-midonet-tempest-aio-ml2-centos-7: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$
  tempest-ipv6-only: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$
