Repository openstack/neutron: changes, and which Zuul jobs are due for each by the changed paths.
All: neutron-functional, neutron-fullstack, neutron-rally-task, neutron-ovn-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-ovn-grenade, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-tempest-postgres-full, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, neutron-centos-7-tripleo-standalone, neutron-ovn-tripleo-ci-centos-7-containers-multinode, neutron-ovn-base, neutron-ovn-tempest-ovs-master, neutron-ovn-tempest-ovs-release, neutron-ovn-tempest-ovs-master-fedora, neutron-ovn-tempest-slow, neutron-ovn-tempest-full-multinode-ovs-master, tempest-integrated-networking, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-midonet-tempest-aio-ml2-centos-7, tempest-ipv6-only

Path conditions:
  neutron-functional: unless all of: ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^releasenotes/.*$
  neutron-fullstack: unless all of: ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^releasenotes/.*$
  neutron-rally-task: (unless all of: ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$) or (unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$)
  neutron-ovn-rally-task: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$
  neutron-tempest-dvr: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$
  neutron-tempest-linuxbridge: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-grenade-multinode: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$
  neutron-grenade-dvr-multinode: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$
  neutron-ovn-grenade: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$
  neutron-tempest-dvr-ha-multinode-full: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$
  neutron-tempest-iptables_hybrid: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$
  neutron-grenade: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$
  neutron-tempest-postgres-full: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$
  neutron-fullstack-with-uwsgi: unless all of: ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^releasenotes/.*$
  neutron-functional-with-uwsgi: unless all of: ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^releasenotes/.*$
  neutron-tempest-with-uwsgi: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$
  neutron-centos-7-tripleo-standalone: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$
  neutron-ovn-tripleo-ci-centos-7-containers-multinode: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$
  neutron-ovn-base: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$
  neutron-ovn-tempest-ovs-master: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$
  neutron-ovn-tempest-ovs-release: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$
  neutron-ovn-tempest-ovs-master-fedora: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$
  neutron-ovn-tempest-slow: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$
  neutron-ovn-tempest-full-multinode-ovs-master: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$
  tempest-integrated-networking: (unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$) or (unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$, ^devstack/.*\.sample$)
  tempest-multinode-full-py3: (unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$) or (unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$, ^devstack/.*\.sample$)
  ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa: (unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$) or (unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$, ^devstack/.*\.sample$)
  tempest-slow-py3: (unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$) or (unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$, ^devstack/.*\.sample$)
  networking-midonet-tempest-aio-ml2-centos-7: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$
  tempest-ipv6-only: (unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$) or (unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$, ^devstack/.*\.sample$)

Fix formatting error in agent/linux/external_process.py
  neutron/agent/linux/external_process.py
Due: neutron-functional, neutron-fullstack, neutron-rally-task, neutron-ovn-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-ovn-grenade, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-tempest-postgres-full, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, neutron-centos-7-tripleo-standalone, neutron-ovn-tripleo-ci-centos-7-containers-multinode, neutron-ovn-base, neutron-ovn-tempest-ovs-master, neutron-ovn-tempest-ovs-release, neutron-ovn-tempest-ovs-master-fedora, neutron-ovn-tempest-slow, neutron-ovn-tempest-full-multinode-ovs-master, tempest-integrated-networking, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-midonet-tempest-aio-ml2-centos-7, tempest-ipv6-only

Default dnsmasq --conf-file to /dev/null
  neutron/agent/linux/dhcp.py
  neutron/tests/unit/agent/linux/test_dhcp.py
Due: neutron-functional, neutron-fullstack, neutron-rally-task, neutron-ovn-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-ovn-grenade, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-tempest-postgres-full, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, neutron-centos-7-tripleo-standalone, neutron-ovn-tripleo-ci-centos-7-containers-multinode, neutron-ovn-base, neutron-ovn-tempest-ovs-master, neutron-ovn-tempest-ovs-release, neutron-ovn-tempest-ovs-master-fedora, neutron-ovn-tempest-slow, neutron-ovn-tempest-full-multinode-ovs-master, tempest-integrated-networking, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-midonet-tempest-aio-ml2-centos-7, tempest-ipv6-only

Do not load "qos-fip" if "qos" plugin is not loaded
  neutron/services/ovn_l3/plugin.py
Due: neutron-functional, neutron-fullstack, neutron-rally-task, neutron-ovn-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-ovn-grenade, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-tempest-postgres-full, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, neutron-centos-7-tripleo-standalone, neutron-ovn-tripleo-ci-centos-7-containers-multinode, neutron-ovn-base, neutron-ovn-tempest-ovs-master, neutron-ovn-tempest-ovs-release, neutron-ovn-tempest-ovs-master-fedora, neutron-ovn-tempest-slow, neutron-ovn-tempest-full-multinode-ovs-master, tempest-integrated-networking, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-midonet-tempest-aio-ml2-centos-7, tempest-ipv6-only

Make NeutronOvsdbIdl singleton
  neutron/agent/ovsdb/impl_idl.py
  neutron/common/utils.py
  neutron/tests/unit/common/test_utils.py
Due: neutron-functional, neutron-fullstack, neutron-rally-task, neutron-ovn-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-ovn-grenade, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-tempest-postgres-full, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, neutron-centos-7-tripleo-standalone, neutron-ovn-tripleo-ci-centos-7-containers-multinode, neutron-ovn-base, neutron-ovn-tempest-ovs-master, neutron-ovn-tempest-ovs-release, neutron-ovn-tempest-ovs-master-fedora, neutron-ovn-tempest-slow, neutron-ovn-tempest-full-multinode-ovs-master, tempest-integrated-networking, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-midonet-tempest-aio-ml2-centos-7, tempest-ipv6-only

Match created_at and updated_at timestamp in TestHashRing
  neutron/tests/unit/db/test_ovn_hash_ring_db.py
Due: neutron-functional, neutron-fullstack, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi

Update ovn-octavia-provider contacts
  doc/source/contributor/policies/bugs.rst
  doc/source/contributor/policies/neutron-teams.rst
Due: none

Allow VXLAN network type for OVN driver
  doc/source/ovn/faq/index.rst
  neutron/plugins/ml2/drivers/ovn/mech_driver/mech_driver.py
  neutron/tests/unit/plugins/ml2/drivers/ovn/mech_driver/test_mech_driver.py
  releasenotes/notes/vxlan-ovn-support-89f71332fa41952c.yaml
Due: neutron-functional, neutron-fullstack, neutron-rally-task, neutron-ovn-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-ovn-grenade, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-tempest-postgres-full, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, neutron-centos-7-tripleo-standalone, neutron-ovn-tripleo-ci-centos-7-containers-multinode, neutron-ovn-base, neutron-ovn-tempest-ovs-master, neutron-ovn-tempest-ovs-release, neutron-ovn-tempest-ovs-master-fedora, neutron-ovn-tempest-slow, neutron-ovn-tempest-full-multinode-ovs-master, tempest-integrated-networking, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-midonet-tempest-aio-ml2-centos-7, tempest-ipv6-only

QoS policy update with placement: handle missing key
  neutron/services/qos/qos_plugin.py
  neutron/tests/unit/services/qos/test_qos_plugin.py
Due: neutron-functional, neutron-fullstack, neutron-rally-task, neutron-ovn-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-ovn-grenade, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-tempest-postgres-full, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, neutron-centos-7-tripleo-standalone, neutron-ovn-tripleo-ci-centos-7-containers-multinode, neutron-ovn-base, neutron-ovn-tempest-ovs-master, neutron-ovn-tempest-ovs-release, neutron-ovn-tempest-ovs-master-fedora, neutron-ovn-tempest-slow, neutron-ovn-tempest-full-multinode-ovs-master, tempest-integrated-networking, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-midonet-tempest-aio-ml2-centos-7, tempest-ipv6-only

Support gateway which is not in subnet CIDR in ha_router
  neutron/agent/l3/ha_router.py
  neutron/tests/unit/agent/l3/test_ha_router.py
Due: neutron-functional, neutron-fullstack, neutron-rally-task, neutron-ovn-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-ovn-grenade, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-tempest-postgres-full, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, neutron-centos-7-tripleo-standalone, neutron-ovn-tripleo-ci-centos-7-containers-multinode, neutron-ovn-base, neutron-ovn-tempest-ovs-master, neutron-ovn-tempest-ovs-release, neutron-ovn-tempest-ovs-master-fedora, neutron-ovn-tempest-slow, neutron-ovn-tempest-full-multinode-ovs-master, tempest-integrated-networking, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-midonet-tempest-aio-ml2-centos-7, tempest-ipv6-only

windows: fix terminating processes
  neutron/agent/windows/utils.py
  neutron/tests/unit/agent/windows/test_utils.py
Due: neutron-functional, neutron-fullstack, neutron-rally-task, neutron-ovn-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-ovn-grenade, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-tempest-postgres-full, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, neutron-centos-7-tripleo-standalone, neutron-ovn-tripleo-ci-centos-7-containers-multinode, neutron-ovn-base, neutron-ovn-tempest-ovs-master, neutron-ovn-tempest-ovs-release, neutron-ovn-tempest-ovs-master-fedora, neutron-ovn-tempest-slow, neutron-ovn-tempest-full-multinode-ovs-master, tempest-integrated-networking, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-midonet-tempest-aio-ml2-centos-7, tempest-ipv6-only

Import "oslo_config.cfg" before "eventlet"
  neutron/tests/fullstack/agents/l3_agent.py
  neutron/tests/functional/agent/linux/bin/ipt_binname.py
Due: neutron-functional, neutron-fullstack, neutron-rally-task, neutron-ovn-rally-task, neutron-tempest-dvr, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-ovn-grenade, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-tempest-postgres-full, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, neutron-centos-7-tripleo-standalone, neutron-ovn-tripleo-ci-centos-7-containers-multinode, neutron-ovn-base, neutron-ovn-tempest-ovs-master, neutron-ovn-tempest-ovs-release, neutron-ovn-tempest-ovs-master-fedora, neutron-ovn-tempest-slow, neutron-ovn-tempest-full-multinode-ovs-master, tempest-integrated-networking, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-midonet-tempest-aio-ml2-centos-7, tempest-ipv6-only

Import "oslo_config.cfg" before "eventlet"
  neutron/tests/fullstack/cmd/l3_agent.py
  neutron/tests/functional/agent/linux/bin/ipt_binname.py
Due: neutron-functional, neutron-fullstack, neutron-rally-task, neutron-ovn-rally-task, neutron-tempest-dvr, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-ovn-grenade, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-tempest-postgres-full, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, neutron-centos-7-tripleo-standalone, neutron-ovn-tripleo-ci-centos-7-containers-multinode, neutron-ovn-base, neutron-ovn-tempest-ovs-master, neutron-ovn-tempest-ovs-release, neutron-ovn-tempest-ovs-master-fedora, neutron-ovn-tempest-slow, neutron-ovn-tempest-full-multinode-ovs-master, tempest-integrated-networking, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-midonet-tempest-aio-ml2-centos-7, tempest-ipv6-only

Drop invalid rootwrap filters
  etc/neutron/rootwrap.d/debug.filters
Due: neutron-functional, neutron-fullstack, neutron-rally-task, neutron-ovn-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-ovn-grenade, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-tempest-postgres-full, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, neutron-centos-7-tripleo-standalone, neutron-ovn-tripleo-ci-centos-7-containers-multinode, neutron-ovn-base, neutron-ovn-tempest-ovs-master, neutron-ovn-tempest-ovs-release, neutron-ovn-tempest-ovs-master-fedora, neutron-ovn-tempest-slow, neutron-ovn-tempest-full-multinode-ovs-master, tempest-integrated-networking, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-midonet-tempest-aio-ml2-centos-7, tempest-ipv6-only

Filter supported extension for OVN mech driver
  neutron/plugins/ml2/drivers/ovn/mech_driver/mech_driver.py
Due: neutron-functional, neutron-fullstack, neutron-rally-task, neutron-ovn-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-ovn-grenade, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-tempest-postgres-full, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, neutron-centos-7-tripleo-standalone, neutron-ovn-tripleo-ci-centos-7-containers-multinode, neutron-ovn-base, neutron-ovn-tempest-ovs-master, neutron-ovn-tempest-ovs-release, neutron-ovn-tempest-ovs-master-fedora, neutron-ovn-tempest-slow, neutron-ovn-tempest-full-multinode-ovs-master, tempest-integrated-networking, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-midonet-tempest-aio-ml2-centos-7, tempest-ipv6-only

Imported Translations from Zanata
  neutron/locale/de/LC_MESSAGES/neutron.po
  neutron/locale/es/LC_MESSAGES/neutron.po
  neutron/locale/fr/LC_MESSAGES/neutron.po
  neutron/locale/it/LC_MESSAGES/neutron.po
  neutron/locale/ja/LC_MESSAGES/neutron.po
  neutron/locale/ko_KR/LC_MESSAGES/neutron.po
  neutron/locale/pt_BR/LC_MESSAGES/neutron.po
  neutron/locale/ru/LC_MESSAGES/neutron.po
  neutron/locale/zh_CN/LC_MESSAGES/neutron.po
  neutron/locale/zh_TW/LC_MESSAGES/neutron.po
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
Due: none

Add locks for methods which sets nat rules in router
  neutron/agent/l3/extensions/port_forwarding.py
  neutron/agent/l3/router_info.py
Due: neutron-functional, neutron-fullstack, neutron-rally-task, neutron-ovn-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-ovn-grenade, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-tempest-postgres-full, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, neutron-centos-7-tripleo-standalone, neutron-ovn-tripleo-ci-centos-7-containers-multinode, neutron-ovn-base, neutron-ovn-tempest-ovs-master, neutron-ovn-tempest-ovs-release, neutron-ovn-tempest-ovs-master-fedora, neutron-ovn-tempest-slow, neutron-ovn-tempest-full-multinode-ovs-master, tempest-integrated-networking, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-midonet-tempest-aio-ml2-centos-7, tempest-ipv6-only

Convert neutron-grenade-ovn job to be zuulv3
  doc/source/contributor/testing/ci_scenario_jobs.rst
  playbooks/legacy/neutron-ovn-grenade/post.yaml
  playbooks/legacy/neutron-ovn-grenade/run.yaml
  zuul.d/grenade.yaml
  zuul.d/project.yaml
Due: neutron-functional, neutron-fullstack, neutron-rally-task, neutron-ovn-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-ovn-grenade, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-tempest-postgres-full, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, neutron-centos-7-tripleo-standalone, neutron-ovn-tripleo-ci-centos-7-containers-multinode, neutron-ovn-base, neutron-ovn-tempest-ovs-master, neutron-ovn-tempest-ovs-release, neutron-ovn-tempest-ovs-master-fedora, neutron-ovn-tempest-slow, neutron-ovn-tempest-full-multinode-ovs-master, tempest-integrated-networking, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-midonet-tempest-aio-ml2-centos-7, tempest-ipv6-only

Remove ML2OVS-specific templates before migration to OVN
  tools/ovn_migration/infrared/tripleo-ovn-migration/roles/prepare-migration/tasks/main.yml
Due: neutron-functional, neutron-fullstack, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi

"round" may bump 1 second to 2 if sleep takes more than 1.49 sec
  neutron/tests/unit/common/test_utils.py
Due: neutron-functional, neutron-fullstack, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi

[Functional] Add logging to the check test file function
  neutron/tests/functional/test_server.py
Due: neutron-functional, neutron-fullstack, neutron-rally-task, neutron-ovn-rally-task, neutron-tempest-dvr, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-ovn-grenade, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-tempest-postgres-full, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, neutron-centos-7-tripleo-standalone, neutron-ovn-tripleo-ci-centos-7-containers-multinode, neutron-ovn-base, neutron-ovn-tempest-ovs-master, neutron-ovn-tempest-ovs-release, neutron-ovn-tempest-ovs-master-fedora, neutron-ovn-tempest-slow, neutron-ovn-tempest-full-multinode-ovs-master, tempest-integrated-networking, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-midonet-tempest-aio-ml2-centos-7, tempest-ipv6-only

[Stable only] Drop *-master jobs
  zuul.d/project.yaml
  zuul.d/tempest-multinode.yaml
  zuul.d/tempest-singlenode.yaml
Due: neutron-functional, neutron-fullstack, neutron-rally-task, neutron-ovn-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-ovn-grenade, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-tempest-postgres-full, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, neutron-centos-7-tripleo-standalone, neutron-ovn-tripleo-ci-centos-7-containers-multinode, neutron-ovn-base, neutron-ovn-tempest-ovs-master, neutron-ovn-tempest-ovs-release, neutron-ovn-tempest-ovs-master-fedora, neutron-ovn-tempest-slow, neutron-ovn-tempest-full-multinode-ovs-master, tempest-integrated-networking, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-midonet-tempest-aio-ml2-centos-7, tempest-ipv6-only

Add update_id for ResourceUpdate
  neutron/agent/common/resource_processing_queue.py
  neutron/agent/l3/agent.py
Due: neutron-functional, neutron-fullstack, neutron-rally-task, neutron-ovn-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-ovn-grenade, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-tempest-postgres-full, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, neutron-centos-7-tripleo-standalone, neutron-ovn-tripleo-ci-centos-7-containers-multinode, neutron-ovn-base, neutron-ovn-tempest-ovs-master, neutron-ovn-tempest-ovs-release, neutron-ovn-tempest-ovs-master-fedora, neutron-ovn-tempest-slow, neutron-ovn-tempest-full-multinode-ovs-master, tempest-integrated-networking, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-midonet-tempest-aio-ml2-centos-7, tempest-ipv6-only

Rehome api tests for propagate_uplink_status
  neutron/tests/fullstack/resources/config.py
  neutron/tests/fullstack/resources/environment.py
  neutron/tests/fullstack/test_ports_api.py
Due: neutron-functional, neutron-fullstack, neutron-rally-task, neutron-ovn-rally-task, neutron-tempest-dvr, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-ovn-grenade, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-tempest-postgres-full, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, neutron-centos-7-tripleo-standalone, neutron-ovn-tripleo-ci-centos-7-containers-multinode, neutron-ovn-base, neutron-ovn-tempest-ovs-master, neutron-ovn-tempest-ovs-release, neutron-ovn-tempest-ovs-master-fedora, neutron-ovn-tempest-slow, neutron-ovn-tempest-full-multinode-ovs-master, tempest-integrated-networking, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-midonet-tempest-aio-ml2-centos-7, tempest-ipv6-only

Make test_agent_show only look for its own agents
  neutron/db/agents_db.py
  neutron/tests/functional/plugins/ml2/drivers/ovn/mech_driver/test_mech_driver.py
Due: neutron-functional, neutron-fullstack, neutron-rally-task, neutron-ovn-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-ovn-grenade, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-tempest-postgres-full, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, neutron-centos-7-tripleo-standalone, neutron-ovn-tripleo-ci-centos-7-containers-multinode, neutron-ovn-base, neutron-ovn-tempest-ovs-master, neutron-ovn-tempest-ovs-release, neutron-ovn-tempest-ovs-master-fedora, neutron-ovn-tempest-slow, neutron-ovn-tempest-full-multinode-ovs-master, tempest-integrated-networking, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-midonet-tempest-aio-ml2-centos-7, tempest-ipv6-only

Disable dstat service temporary in ovn scenario jobs
  zuul.d/tempest-multinode.yaml
Due: neutron-functional, neutron-fullstack, neutron-rally-task, neutron-ovn-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-ovn-grenade, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-tempest-postgres-full, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, neutron-centos-7-tripleo-standalone, neutron-ovn-tripleo-ci-centos-7-containers-multinode, neutron-ovn-base, neutron-ovn-tempest-ovs-master, neutron-ovn-tempest-ovs-release, neutron-ovn-tempest-ovs-master-fedora, neutron-ovn-tempest-slow, neutron-ovn-tempest-full-multinode-ovs-master, tempest-integrated-networking, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-midonet-tempest-aio-ml2-centos-7, tempest-ipv6-only

"scope" conversion only just before pyroute2 method call
  neutron/agent/linux/ip_lib.py
  neutron/tests/functional/agent/linux/test_ip_lib.py
  neutron/tests/unit/agent/linux/test_ip_lib.py
Due: neutron-functional, neutron-fullstack, neutron-rally-task, neutron-ovn-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-ovn-grenade, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-tempest-postgres-full, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, neutron-centos-7-tripleo-standalone, neutron-ovn-tripleo-ci-centos-7-containers-multinode, neutron-ovn-base, neutron-ovn-tempest-ovs-master, neutron-ovn-tempest-ovs-release, neutron-ovn-tempest-ovs-master-fedora, neutron-ovn-tempest-slow, neutron-ovn-tempest-full-multinode-ovs-master, tempest-integrated-networking, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-midonet-tempest-aio-ml2-centos-7, tempest-ipv6-only

ovs firewall: fix mac learning on the ingress rule table when ovs offload enabled
  neutron/agent/linux/openvswitch_firewall/firewall.py
  releasenotes/notes/fix-mac-learning-in-case--ovs-offload-26193bf1638fd673.yaml
Due: neutron-functional, neutron-fullstack, neutron-rally-task, neutron-ovn-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-ovn-grenade, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-tempest-postgres-full, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, neutron-centos-7-tripleo-standalone, neutron-ovn-tripleo-ci-centos-7-containers-multinode, neutron-ovn-base, neutron-ovn-tempest-ovs-master, neutron-ovn-tempest-ovs-release, neutron-ovn-tempest-ovs-master-fedora, neutron-ovn-tempest-slow, neutron-ovn-tempest-full-multinode-ovs-master, tempest-integrated-networking, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-midonet-tempest-aio-ml2-centos-7, tempest-ipv6-only

Keepalived version check
  neutron/agent/linux/keepalived.py
  neutron/cmd/runtime_checks.py
  neutron/tests/unit/agent/linux/test_keepalived.py
Due: neutron-functional, neutron-fullstack, neutron-rally-task, neutron-ovn-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-ovn-grenade, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-tempest-postgres-full, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, neutron-centos-7-tripleo-standalone, neutron-ovn-tripleo-ci-centos-7-containers-multinode, neutron-ovn-base, neutron-ovn-tempest-ovs-master, neutron-ovn-tempest-ovs-release, neutron-ovn-tempest-ovs-master-fedora, neutron-ovn-tempest-slow, neutron-ovn-tempest-full-multinode-ovs-master, tempest-integrated-networking, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-midonet-tempest-aio-ml2-centos-7, tempest-ipv6-only
