Repository openstack/neutron: changes, and which Zuul jobs are due for each by the changed paths.
All: neutron-functional, neutron-fullstack, neutron-rally-task, neutron-ovn-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-ovn-grenade, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-tempest-postgres-full, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, neutron-centos-7-tripleo-standalone, neutron-ovn-tripleo-ci-centos-7-containers-multinode, neutron-ovn-base, neutron-ovn-tempest-ovs-master, neutron-ovn-tempest-ovs-release, neutron-ovn-tempest-ovs-master-fedora, neutron-ovn-tempest-slow, neutron-ovn-tempest-full-multinode-ovs-master, tempest-integrated-networking, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-midonet-tempest-aio-ml2-centos-7, tempest-ipv6-only

Path conditions:
  neutron-functional: unless all of: ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^releasenotes/.*$
  neutron-fullstack: unless all of: ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^releasenotes/.*$
  neutron-rally-task: unless all of: ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$
  neutron-ovn-rally-task: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$
  neutron-tempest-dvr: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$
  neutron-tempest-linuxbridge: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-grenade-multinode: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$
  neutron-grenade-dvr-multinode: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$
  neutron-ovn-grenade: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$
  neutron-tempest-dvr-ha-multinode-full: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$
  neutron-tempest-iptables_hybrid: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$
  neutron-grenade: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$
  neutron-tempest-postgres-full: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$
  neutron-fullstack-with-uwsgi: unless all of: ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^releasenotes/.*$
  neutron-functional-with-uwsgi: unless all of: ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^releasenotes/.*$
  neutron-tempest-with-uwsgi: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$
  neutron-centos-7-tripleo-standalone: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$
  neutron-ovn-tripleo-ci-centos-7-containers-multinode: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$
  neutron-ovn-base: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$
  neutron-ovn-tempest-ovs-master: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$
  neutron-ovn-tempest-ovs-release: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$
  neutron-ovn-tempest-ovs-master-fedora: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$
  neutron-ovn-tempest-slow: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$
  neutron-ovn-tempest-full-multinode-ovs-master: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$
  tempest-integrated-networking: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$
  tempest-multinode-full-py3: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$
  ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$
  tempest-slow-py3: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$
  networking-midonet-tempest-aio-ml2-centos-7: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$
  tempest-ipv6-only: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$

Remove sleep command when retrieving OVS dp
  neutron/plugins/ml2/drivers/openvswitch/agent/openflow/native/ofswitch.py
Due: neutron-functional, neutron-fullstack, neutron-rally-task, neutron-ovn-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-ovn-grenade, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-tempest-postgres-full, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, neutron-centos-7-tripleo-standalone, neutron-ovn-tripleo-ci-centos-7-containers-multinode, neutron-ovn-base, neutron-ovn-tempest-ovs-master, neutron-ovn-tempest-ovs-release, neutron-ovn-tempest-ovs-master-fedora, neutron-ovn-tempest-slow, neutron-ovn-tempest-full-multinode-ovs-master, tempest-integrated-networking, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-midonet-tempest-aio-ml2-centos-7, tempest-ipv6-only

Fix bug: AttributeError arises while sorting with standard attributes
  neutron/api/api_common.py
  neutron/tests/unit/api/v2/test_base.py
  releasenotes/notes/add-sort-keys-check-for-get-sorts-b9e3e86ddcb3bc3a.yaml
Due: neutron-functional, neutron-fullstack, neutron-rally-task, neutron-ovn-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-ovn-grenade, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-tempest-postgres-full, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, neutron-centos-7-tripleo-standalone, neutron-ovn-tripleo-ci-centos-7-containers-multinode, neutron-ovn-base, neutron-ovn-tempest-ovs-master, neutron-ovn-tempest-ovs-release, neutron-ovn-tempest-ovs-master-fedora, neutron-ovn-tempest-slow, neutron-ovn-tempest-full-multinode-ovs-master, tempest-integrated-networking, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-midonet-tempest-aio-ml2-centos-7, tempest-ipv6-only

OVN Metadata agent gets OVSDB updates for only its Chassis
  neutron/agent/ovn/metadata/agent.py
  neutron/agent/ovn/metadata/ovsdb.py
  neutron/agent/ovn/metadata/server.py
Due: neutron-functional, neutron-fullstack, neutron-rally-task, neutron-ovn-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-ovn-grenade, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-tempest-postgres-full, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, neutron-centos-7-tripleo-standalone, neutron-ovn-tripleo-ci-centos-7-containers-multinode, neutron-ovn-base, neutron-ovn-tempest-ovs-master, neutron-ovn-tempest-ovs-release, neutron-ovn-tempest-ovs-master-fedora, neutron-ovn-tempest-slow, neutron-ovn-tempest-full-multinode-ovs-master, tempest-integrated-networking, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-midonet-tempest-aio-ml2-centos-7, tempest-ipv6-only

Reset timeout exception in DietTestCase when retrying
  neutron/tests/base.py
Due: neutron-functional, neutron-fullstack, neutron-rally-task, neutron-ovn-rally-task, neutron-tempest-dvr, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-ovn-grenade, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-tempest-postgres-full, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, neutron-centos-7-tripleo-standalone, neutron-ovn-tripleo-ci-centos-7-containers-multinode, neutron-ovn-base, neutron-ovn-tempest-ovs-master, neutron-ovn-tempest-ovs-release, neutron-ovn-tempest-ovs-master-fedora, neutron-ovn-tempest-slow, neutron-ovn-tempest-full-multinode-ovs-master, tempest-integrated-networking, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-midonet-tempest-aio-ml2-centos-7, tempest-ipv6-only

Ensure driver error preventing trunk port deletion is logged
  neutron/services/trunk/plugin.py
Due: neutron-functional, neutron-fullstack, neutron-rally-task, neutron-ovn-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-ovn-grenade, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-tempest-postgres-full, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, neutron-centos-7-tripleo-standalone, neutron-ovn-tripleo-ci-centos-7-containers-multinode, neutron-ovn-base, neutron-ovn-tempest-ovs-master, neutron-ovn-tempest-ovs-release, neutron-ovn-tempest-ovs-master-fedora, neutron-ovn-tempest-slow, neutron-ovn-tempest-full-multinode-ovs-master, tempest-integrated-networking, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-midonet-tempest-aio-ml2-centos-7, tempest-ipv6-only

Fix duplicate ID warning during doc build
  neutron/opts.py
Due: neutron-functional, neutron-fullstack, neutron-rally-task, neutron-ovn-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-ovn-grenade, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-tempest-postgres-full, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, neutron-centos-7-tripleo-standalone, neutron-ovn-tripleo-ci-centos-7-containers-multinode, neutron-ovn-base, neutron-ovn-tempest-ovs-master, neutron-ovn-tempest-ovs-release, neutron-ovn-tempest-ovs-master-fedora, neutron-ovn-tempest-slow, neutron-ovn-tempest-full-multinode-ovs-master, tempest-integrated-networking, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-midonet-tempest-aio-ml2-centos-7, tempest-ipv6-only

Disable neutron-ovn-tempest-ovs-release temporarily
  zuul.d/project.yaml
Due: neutron-functional, neutron-fullstack, neutron-rally-task, neutron-ovn-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-ovn-grenade, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-tempest-postgres-full, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, neutron-centos-7-tripleo-standalone, neutron-ovn-tripleo-ci-centos-7-containers-multinode, neutron-ovn-base, neutron-ovn-tempest-ovs-master, neutron-ovn-tempest-ovs-release, neutron-ovn-tempest-ovs-master-fedora, neutron-ovn-tempest-slow, neutron-ovn-tempest-full-multinode-ovs-master, tempest-integrated-networking, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-midonet-tempest-aio-ml2-centos-7, tempest-ipv6-only

[OVN] Update QoS related code from networking-ovn
  neutron/services/qos/drivers/ovn/driver.py
  neutron/tests/unit/services/qos/drivers/ovn/test_driver.py
Due: neutron-functional, neutron-fullstack, neutron-rally-task, neutron-ovn-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-ovn-grenade, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-tempest-postgres-full, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, neutron-centos-7-tripleo-standalone, neutron-ovn-tripleo-ci-centos-7-containers-multinode, neutron-ovn-base, neutron-ovn-tempest-ovs-master, neutron-ovn-tempest-ovs-release, neutron-ovn-tempest-ovs-master-fedora, neutron-ovn-tempest-slow, neutron-ovn-tempest-full-multinode-ovs-master, tempest-integrated-networking, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-midonet-tempest-aio-ml2-centos-7, tempest-ipv6-only

Remove duplicate QoS backend support table
  doc/source/admin/config-qos.rst
  doc/source/contributor/internals/quality_of_service.rst
Due: none

Use Python 3 as interpreter in test
  neutron/tests/unit/agent/common/test_async_process.py
Due: neutron-functional, neutron-fullstack, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi

Revert "[DVR] Add lock during creation of FIP agent gateway port"
  neutron/db/l3_dvr_db.py
Due: neutron-functional, neutron-fullstack, neutron-rally-task, neutron-ovn-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-ovn-grenade, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-tempest-postgres-full, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, neutron-centos-7-tripleo-standalone, neutron-ovn-tripleo-ci-centos-7-containers-multinode, neutron-ovn-base, neutron-ovn-tempest-ovs-master, neutron-ovn-tempest-ovs-release, neutron-ovn-tempest-ovs-master-fedora, neutron-ovn-tempest-slow, neutron-ovn-tempest-full-multinode-ovs-master, tempest-integrated-networking, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-midonet-tempest-aio-ml2-centos-7, tempest-ipv6-only

Ensure there is always at most 1 dvr fip gw port per agent and network
  neutron/db/l3_dvr_db.py
  neutron/db/migration/alembic_migrations/versions/EXPAND_HEAD
  neutron/db/migration/alembic_migrations/versions/ussuri/expand/2217c4222de6_add_dvr_fip_gateway_port_network_table.py
  neutron/db/models/dvr.py
  neutron/objects/router.py
  neutron/tests/unit/db/test_l3_dvr_db.py
  neutron/tests/unit/objects/test_objects.py
  neutron/tests/unit/objects/test_router.py
Due: neutron-functional, neutron-fullstack, neutron-rally-task, neutron-ovn-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-ovn-grenade, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-tempest-postgres-full, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, neutron-centos-7-tripleo-standalone, neutron-ovn-tripleo-ci-centos-7-containers-multinode, neutron-ovn-base, neutron-ovn-tempest-ovs-master, neutron-ovn-tempest-ovs-release, neutron-ovn-tempest-ovs-master-fedora, neutron-ovn-tempest-slow, neutron-ovn-tempest-full-multinode-ovs-master, tempest-integrated-networking, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-midonet-tempest-aio-ml2-centos-7, tempest-ipv6-only

Remove plugins.ml2.db.get_binding_levels
  neutron/plugins/ml2/db.py
  releasenotes/notes/remove-get_binding_levels-c4e8b350a196706a.yaml
Due: neutron-functional, neutron-fullstack, neutron-rally-task, neutron-ovn-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-ovn-grenade, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-tempest-postgres-full, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, neutron-centos-7-tripleo-standalone, neutron-ovn-tripleo-ci-centos-7-containers-multinode, neutron-ovn-base, neutron-ovn-tempest-ovs-master, neutron-ovn-tempest-ovs-release, neutron-ovn-tempest-ovs-master-fedora, neutron-ovn-tempest-slow, neutron-ovn-tempest-full-multinode-ovs-master, tempest-integrated-networking, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-midonet-tempest-aio-ml2-centos-7, tempest-ipv6-only

Re-use existing ProcessLauncher from wsgi in RPC workers
  neutron/server/wsgi_eventlet.py
  neutron/service.py
  neutron/wsgi.py
Due: neutron-functional, neutron-fullstack, neutron-rally-task, neutron-ovn-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-ovn-grenade, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-tempest-postgres-full, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, neutron-centos-7-tripleo-standalone, neutron-ovn-tripleo-ci-centos-7-containers-multinode, neutron-ovn-base, neutron-ovn-tempest-ovs-master, neutron-ovn-tempest-ovs-release, neutron-ovn-tempest-ovs-master-fedora, neutron-ovn-tempest-slow, neutron-ovn-tempest-full-multinode-ovs-master, tempest-integrated-networking, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-midonet-tempest-aio-ml2-centos-7, tempest-ipv6-only

Use sys.executable instead of 'python'
  neutron/agent/linux/daemon.py
  neutron/tests/functional/agent/linux/test_process_monitor.py
  neutron/tests/functional/cmd/test_netns_cleanup.py
  neutron/tests/unit/agent/common/test_async_process.py
  neutron/tests/unit/agent/linux/test_daemon.py
Due: neutron-functional, neutron-fullstack, neutron-rally-task, neutron-ovn-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-ovn-grenade, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-tempest-postgres-full, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, neutron-centos-7-tripleo-standalone, neutron-ovn-tripleo-ci-centos-7-containers-multinode, neutron-ovn-base, neutron-ovn-tempest-ovs-master, neutron-ovn-tempest-ovs-release, neutron-ovn-tempest-ovs-master-fedora, neutron-ovn-tempest-slow, neutron-ovn-tempest-full-multinode-ovs-master, tempest-integrated-networking, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-midonet-tempest-aio-ml2-centos-7, tempest-ipv6-only

Unnecessary routers should not be created
  neutron/db/l3_dvrscheduler_db.py
  neutron/tests/unit/db/test_agentschedulers_db.py
Due: neutron-functional, neutron-fullstack, neutron-rally-task, neutron-ovn-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-ovn-grenade, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-tempest-postgres-full, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, neutron-centos-7-tripleo-standalone, neutron-ovn-tripleo-ci-centos-7-containers-multinode, neutron-ovn-base, neutron-ovn-tempest-ovs-master, neutron-ovn-tempest-ovs-release, neutron-ovn-tempest-ovs-master-fedora, neutron-ovn-tempest-slow, neutron-ovn-tempest-full-multinode-ovs-master, tempest-integrated-networking, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-midonet-tempest-aio-ml2-centos-7, tempest-ipv6-only

Revert "Disable neutron-ovn-tempest-ovs-release temporarily"
  zuul.d/project.yaml
Due: neutron-functional, neutron-fullstack, neutron-rally-task, neutron-ovn-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-ovn-grenade, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-tempest-postgres-full, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, neutron-centos-7-tripleo-standalone, neutron-ovn-tripleo-ci-centos-7-containers-multinode, neutron-ovn-base, neutron-ovn-tempest-ovs-master, neutron-ovn-tempest-ovs-release, neutron-ovn-tempest-ovs-master-fedora, neutron-ovn-tempest-slow, neutron-ovn-tempest-full-multinode-ovs-master, tempest-integrated-networking, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-midonet-tempest-aio-ml2-centos-7, tempest-ipv6-only

Add ovn-octavia-provider tag as official tag
  doc/source/contributor/policies/bugs.rst
Due: none

[OVN] Devstack: Fix adding another compute node
  devstack/lib/ovn_agent
  devstack/ovn-compute-local.conf.sample
Due: neutron-functional, neutron-fullstack, neutron-rally-task, neutron-ovn-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-ovn-grenade, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-tempest-postgres-full, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, neutron-centos-7-tripleo-standalone, neutron-ovn-tripleo-ci-centos-7-containers-multinode, neutron-ovn-base, neutron-ovn-tempest-ovs-master, neutron-ovn-tempest-ovs-release, neutron-ovn-tempest-ovs-master-fedora, neutron-ovn-tempest-slow, neutron-ovn-tempest-full-multinode-ovs-master, tempest-integrated-networking, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-midonet-tempest-aio-ml2-centos-7, tempest-ipv6-only

[OVS] Handle added/removed ports in the same polling iteration
  neutron/plugins/ml2/drivers/openvswitch/agent/ovs_neutron_agent.py
  neutron/tests/unit/plugins/ml2/drivers/openvswitch/agent/test_ovs_neutron_agent.py
Due: neutron-functional, neutron-fullstack, neutron-rally-task, neutron-ovn-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-ovn-grenade, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-tempest-postgres-full, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, neutron-centos-7-tripleo-standalone, neutron-ovn-tripleo-ci-centos-7-containers-multinode, neutron-ovn-base, neutron-ovn-tempest-ovs-master, neutron-ovn-tempest-ovs-release, neutron-ovn-tempest-ovs-master-fedora, neutron-ovn-tempest-slow, neutron-ovn-tempest-full-multinode-ovs-master, tempest-integrated-networking, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-midonet-tempest-aio-ml2-centos-7, tempest-ipv6-only

Add 'is_available' function
  neutron/common/eventlet_utils.py
Due: neutron-functional, neutron-fullstack, neutron-rally-task, neutron-ovn-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-ovn-grenade, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-tempest-postgres-full, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, neutron-centos-7-tripleo-standalone, neutron-ovn-tripleo-ci-centos-7-containers-multinode, neutron-ovn-base, neutron-ovn-tempest-ovs-master, neutron-ovn-tempest-ovs-release, neutron-ovn-tempest-ovs-master-fedora, neutron-ovn-tempest-slow, neutron-ovn-tempest-full-multinode-ovs-master, tempest-integrated-networking, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-midonet-tempest-aio-ml2-centos-7, tempest-ipv6-only

dhcp-agent: equalize port create_low/update/delete priority
  neutron/api/rpc/agentnotifiers/dhcp_rpc_agent_api.py
Due: neutron-functional, neutron-fullstack, neutron-rally-task, neutron-ovn-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-ovn-grenade, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-tempest-postgres-full, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, neutron-centos-7-tripleo-standalone, neutron-ovn-tripleo-ci-centos-7-containers-multinode, neutron-ovn-base, neutron-ovn-tempest-ovs-master, neutron-ovn-tempest-ovs-release, neutron-ovn-tempest-ovs-master-fedora, neutron-ovn-tempest-slow, neutron-ovn-tempest-full-multinode-ovs-master, tempest-integrated-networking, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-midonet-tempest-aio-ml2-centos-7, tempest-ipv6-only

Add SR-IOV agent resource provider information
  neutron/plugins/ml2/drivers/mech_sriov/agent/sriov_nic_agent.py
Due: neutron-functional, neutron-fullstack, neutron-rally-task, neutron-ovn-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-ovn-grenade, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-tempest-postgres-full, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, neutron-centos-7-tripleo-standalone, neutron-ovn-tripleo-ci-centos-7-containers-multinode, neutron-ovn-base, neutron-ovn-tempest-ovs-master, neutron-ovn-tempest-ovs-release, neutron-ovn-tempest-ovs-master-fedora, neutron-ovn-tempest-slow, neutron-ovn-tempest-full-multinode-ovs-master, tempest-integrated-networking, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-midonet-tempest-aio-ml2-centos-7, tempest-ipv6-only

[OVN] Reduce the number of watched tables in MetadataProxyHandler
  neutron/agent/ovn/metadata/agent.py
  neutron/agent/ovn/metadata/ovsdb.py
  neutron/agent/ovn/metadata/server.py
Due: neutron-functional, neutron-fullstack, neutron-rally-task, neutron-ovn-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-ovn-grenade, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-tempest-postgres-full, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, neutron-centos-7-tripleo-standalone, neutron-ovn-tripleo-ci-centos-7-containers-multinode, neutron-ovn-base, neutron-ovn-tempest-ovs-master, neutron-ovn-tempest-ovs-release, neutron-ovn-tempest-ovs-master-fedora, neutron-ovn-tempest-slow, neutron-ovn-tempest-full-multinode-ovs-master, tempest-integrated-networking, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-midonet-tempest-aio-ml2-centos-7, tempest-ipv6-only

Enforce "qos_max_rate" and "qos_burst" in OVN QoS options
  neutron/plugins/ml2/drivers/ovn/mech_driver/ovsdb/ovn_client.py
  neutron/services/qos/drivers/ovn/driver.py
  neutron/tests/unit/services/qos/drivers/ovn/test_driver.py
Due: neutron-functional, neutron-fullstack, neutron-rally-task, neutron-ovn-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-ovn-grenade, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-tempest-postgres-full, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, neutron-centos-7-tripleo-standalone, neutron-ovn-tripleo-ci-centos-7-containers-multinode, neutron-ovn-base, neutron-ovn-tempest-ovs-master, neutron-ovn-tempest-ovs-release, neutron-ovn-tempest-ovs-master-fedora, neutron-ovn-tempest-slow, neutron-ovn-tempest-full-multinode-ovs-master, tempest-integrated-networking, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-midonet-tempest-aio-ml2-centos-7, tempest-ipv6-only

Add NEUTRON_PATH to configure_for_func_testing.sh
  tools/configure_for_func_testing.sh
Due: neutron-functional, neutron-fullstack, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi

Enhance agent's resources_synced check
  neutron/tests/fullstack/test_agent_bandwidth_report.py
Due: neutron-functional, neutron-fullstack, neutron-rally-task, neutron-ovn-rally-task, neutron-tempest-dvr, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-ovn-grenade, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-tempest-postgres-full, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, neutron-centos-7-tripleo-standalone, neutron-ovn-tripleo-ci-centos-7-containers-multinode, neutron-ovn-base, neutron-ovn-tempest-ovs-master, neutron-ovn-tempest-ovs-release, neutron-ovn-tempest-ovs-master-fedora, neutron-ovn-tempest-slow, neutron-ovn-tempest-full-multinode-ovs-master, tempest-integrated-networking, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-midonet-tempest-aio-ml2-centos-7, tempest-ipv6-only

Add 'fip-port-details' to OVN ML2 supported extensions
  neutron/common/ovn/extensions.py
  neutron/services/ovn_l3/plugin.py
  neutron/tests/unit/fake_resources.py
Due: neutron-functional, neutron-fullstack, neutron-rally-task, neutron-ovn-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-ovn-grenade, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-tempest-postgres-full, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, neutron-centos-7-tripleo-standalone, neutron-ovn-tripleo-ci-centos-7-containers-multinode, neutron-ovn-base, neutron-ovn-tempest-ovs-master, neutron-ovn-tempest-ovs-release, neutron-ovn-tempest-ovs-master-fedora, neutron-ovn-tempest-slow, neutron-ovn-tempest-full-multinode-ovs-master, tempest-integrated-networking, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-midonet-tempest-aio-ml2-centos-7, tempest-ipv6-only

Improve VLAN allocations synchronization
  neutron/objects/plugins/ml2/vlanallocation.py
  neutron/plugins/ml2/drivers/type_vlan.py
  neutron/tests/unit/plugins/ml2/drivers/test_type_vlan.py
Due: neutron-functional, neutron-fullstack, neutron-rally-task, neutron-ovn-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-ovn-grenade, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-tempest-postgres-full, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, neutron-centos-7-tripleo-standalone, neutron-ovn-tripleo-ci-centos-7-containers-multinode, neutron-ovn-base, neutron-ovn-tempest-ovs-master, neutron-ovn-tempest-ovs-release, neutron-ovn-tempest-ovs-master-fedora, neutron-ovn-tempest-slow, neutron-ovn-tempest-full-multinode-ovs-master, tempest-integrated-networking, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-midonet-tempest-aio-ml2-centos-7, tempest-ipv6-only

Reduce the VLAN/tunneled ranges in fullstack tests
  neutron/tests/fullstack/resources/config.py
Due: neutron-functional, neutron-fullstack, neutron-rally-task, neutron-ovn-rally-task, neutron-tempest-dvr, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-ovn-grenade, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-tempest-postgres-full, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, neutron-centos-7-tripleo-standalone, neutron-ovn-tripleo-ci-centos-7-containers-multinode, neutron-ovn-base, neutron-ovn-tempest-ovs-master, neutron-ovn-tempest-ovs-release, neutron-ovn-tempest-ovs-master-fedora, neutron-ovn-tempest-slow, neutron-ovn-tempest-full-multinode-ovs-master, tempest-integrated-networking, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-midonet-tempest-aio-ml2-centos-7, tempest-ipv6-only

Add "ncat" rootwrap filter for debug
  etc/neutron/rootwrap.d/debug.filters
Due: neutron-functional, neutron-fullstack, neutron-rally-task, neutron-ovn-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-ovn-grenade, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-tempest-postgres-full, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, neutron-centos-7-tripleo-standalone, neutron-ovn-tripleo-ci-centos-7-containers-multinode, neutron-ovn-base, neutron-ovn-tempest-ovs-master, neutron-ovn-tempest-ovs-release, neutron-ovn-tempest-ovs-master-fedora, neutron-ovn-tempest-slow, neutron-ovn-tempest-full-multinode-ovs-master, tempest-integrated-networking, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-midonet-tempest-aio-ml2-centos-7, tempest-ipv6-only

"ping"/"ping6" command support in rootwrap filters
  etc/neutron/rootwrap.d/debug.filters
  neutron/tests/common/net_helpers.py
  neutron/tests/functional/agent/l3/test_legacy_router.py
Due: neutron-functional, neutron-fullstack, neutron-rally-task, neutron-ovn-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-ovn-grenade, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-tempest-postgres-full, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, neutron-centos-7-tripleo-standalone, neutron-ovn-tripleo-ci-centos-7-containers-multinode, neutron-ovn-base, neutron-ovn-tempest-ovs-master, neutron-ovn-tempest-ovs-release, neutron-ovn-tempest-ovs-master-fedora, neutron-ovn-tempest-slow, neutron-ovn-tempest-full-multinode-ovs-master, tempest-integrated-networking, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-midonet-tempest-aio-ml2-centos-7, tempest-ipv6-only
