Repository openstack/neutron: changes, and which Zuul jobs are due for each by the changed paths.
All: neutron-functional, neutron-fullstack, neutron-rally-task, neutron-ovn-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-ovn-grenade, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-tempest-postgres-full, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, neutron-centos-7-tripleo-standalone, neutron-ovn-tripleo-ci-centos-7-containers-multinode, neutron-ovn-base, neutron-ovn-tempest-ovs-master, neutron-ovn-tempest-ovs-release, neutron-ovn-tempest-ovs-master-fedora, neutron-ovn-tempest-slow, neutron-ovn-tempest-full-multinode-ovs-master, tempest-integrated-networking, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-midonet-tempest-aio-ml2-centos-7, tempest-ipv6-only

Path conditions:
  neutron-functional: unless all of: ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^releasenotes/.*$
  neutron-fullstack: unless all of: ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^releasenotes/.*$
  neutron-rally-task: unless all of: ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$
  neutron-ovn-rally-task: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$
  neutron-tempest-dvr: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$
  neutron-tempest-linuxbridge: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-grenade-multinode: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$
  neutron-grenade-dvr-multinode: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$
  neutron-ovn-grenade: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$
  neutron-tempest-dvr-ha-multinode-full: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$
  neutron-tempest-iptables_hybrid: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$
  neutron-grenade: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$
  neutron-tempest-postgres-full: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$
  neutron-fullstack-with-uwsgi: unless all of: ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^releasenotes/.*$
  neutron-functional-with-uwsgi: unless all of: ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^releasenotes/.*$
  neutron-tempest-with-uwsgi: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$
  neutron-centos-7-tripleo-standalone: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$
  neutron-ovn-tripleo-ci-centos-7-containers-multinode: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$
  neutron-ovn-base: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$
  neutron-ovn-tempest-ovs-master: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$
  neutron-ovn-tempest-ovs-release: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$
  neutron-ovn-tempest-ovs-master-fedora: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$
  neutron-ovn-tempest-slow: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$
  neutron-ovn-tempest-full-multinode-ovs-master: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$
  tempest-integrated-networking: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$
  tempest-multinode-full-py3: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$
  ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$
  tempest-slow-py3: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$
  networking-midonet-tempest-aio-ml2-centos-7: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$
  tempest-ipv6-only: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$

Use constraints for docs tox target
  tox.ini
Due: neutron-functional, neutron-fullstack, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi

Add retries to update trunk port
  neutron/services/trunk/rpc/server.py
Due: neutron-functional, neutron-fullstack, neutron-rally-task, neutron-ovn-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-ovn-grenade, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-tempest-postgres-full, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, neutron-centos-7-tripleo-standalone, neutron-ovn-tripleo-ci-centos-7-containers-multinode, neutron-ovn-base, neutron-ovn-tempest-ovs-master, neutron-ovn-tempest-ovs-release, neutron-ovn-tempest-ovs-master-fedora, neutron-ovn-tempest-slow, neutron-ovn-tempest-full-multinode-ovs-master, tempest-integrated-networking, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-midonet-tempest-aio-ml2-centos-7, tempest-ipv6-only

Add etc/neutron/*.sample files to be ignored by git
  .gitignore
Due: neutron-functional, neutron-fullstack, neutron-rally-task, neutron-ovn-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-ovn-grenade, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-tempest-postgres-full, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, neutron-centos-7-tripleo-standalone, neutron-ovn-tripleo-ci-centos-7-containers-multinode, neutron-ovn-base, neutron-ovn-tempest-ovs-master, neutron-ovn-tempest-ovs-release, neutron-ovn-tempest-ovs-master-fedora, neutron-ovn-tempest-slow, neutron-ovn-tempest-full-multinode-ovs-master, tempest-integrated-networking, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-midonet-tempest-aio-ml2-centos-7, tempest-ipv6-only

Bump min pyroute2 version to 0.5.7
  lower-constraints.txt
  requirements.txt
Due: neutron-functional, neutron-fullstack, neutron-rally-task, neutron-ovn-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-ovn-grenade, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-tempest-postgres-full, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, neutron-centos-7-tripleo-standalone, neutron-ovn-tripleo-ci-centos-7-containers-multinode, neutron-ovn-base, neutron-ovn-tempest-ovs-master, neutron-ovn-tempest-ovs-release, neutron-ovn-tempest-ovs-master-fedora, neutron-ovn-tempest-slow, neutron-ovn-tempest-full-multinode-ovs-master, tempest-integrated-networking, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-midonet-tempest-aio-ml2-centos-7, tempest-ipv6-only

Bump neutron-lib to 1.30.0
  lower-constraints.txt
  requirements.txt
Due: neutron-functional, neutron-fullstack, neutron-rally-task, neutron-ovn-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-ovn-grenade, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-tempest-postgres-full, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, neutron-centos-7-tripleo-standalone, neutron-ovn-tripleo-ci-centos-7-containers-multinode, neutron-ovn-base, neutron-ovn-tempest-ovs-master, neutron-ovn-tempest-ovs-release, neutron-ovn-tempest-ovs-master-fedora, neutron-ovn-tempest-slow, neutron-ovn-tempest-full-multinode-ovs-master, tempest-integrated-networking, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-midonet-tempest-aio-ml2-centos-7, tempest-ipv6-only

Remove locks from privileged ip_lib module
  neutron/privileged/agent/linux/ip_lib.py
Due: neutron-functional, neutron-fullstack, neutron-rally-task, neutron-ovn-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-ovn-grenade, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-tempest-postgres-full, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, neutron-centos-7-tripleo-standalone, neutron-ovn-tripleo-ci-centos-7-containers-multinode, neutron-ovn-base, neutron-ovn-tempest-ovs-master, neutron-ovn-tempest-ovs-release, neutron-ovn-tempest-ovs-master-fedora, neutron-ovn-tempest-slow, neutron-ovn-tempest-full-multinode-ovs-master, tempest-integrated-networking, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-midonet-tempest-aio-ml2-centos-7, tempest-ipv6-only

Remove unused arguments in test methods
  neutron/tests/unit/agent/linux/test_interface.py
Due: neutron-functional, neutron-fullstack, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi

don't clear skb mark when ovs is hw-offload enabled
  neutron/agent/common/ovs_lib.py
  neutron/tests/unit/agent/common/test_ovs_lib.py
Due: neutron-functional, neutron-fullstack, neutron-rally-task, neutron-ovn-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-ovn-grenade, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-tempest-postgres-full, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, neutron-centos-7-tripleo-standalone, neutron-ovn-tripleo-ci-centos-7-containers-multinode, neutron-ovn-base, neutron-ovn-tempest-ovs-master, neutron-ovn-tempest-ovs-release, neutron-ovn-tempest-ovs-master-fedora, neutron-ovn-tempest-slow, neutron-ovn-tempest-full-multinode-ovs-master, tempest-integrated-networking, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-midonet-tempest-aio-ml2-centos-7, tempest-ipv6-only

Fix pep8 errors found by hacking 2.0.0
  neutron/agent/common/ovs_lib.py
  neutron/agent/linux/dhcp.py
  neutron/db/db_base_plugin_v2.py
  neutron/ipam/subnet_alloc.py
  neutron/services/trunk/drivers/openvswitch/agent/ovsdb_handler.py
  neutron/tests/tools.py
  neutron/tests/unit/common/ovn/test_hash_ring_manager.py
  test-requirements.txt
Due: neutron-functional, neutron-fullstack, neutron-rally-task, neutron-ovn-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-ovn-grenade, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-tempest-postgres-full, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, neutron-centos-7-tripleo-standalone, neutron-ovn-tripleo-ci-centos-7-containers-multinode, neutron-ovn-base, neutron-ovn-tempest-ovs-master, neutron-ovn-tempest-ovs-release, neutron-ovn-tempest-ovs-master-fedora, neutron-ovn-tempest-slow, neutron-ovn-tempest-full-multinode-ovs-master, tempest-integrated-networking, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-midonet-tempest-aio-ml2-centos-7, tempest-ipv6-only

Allow to select subnets to publish DNS records
  devstack/lib/dns
  doc/source/admin/config-dns-int-ext-serv.rst
  doc/source/admin/config-dns-int.rst
  neutron/db/migration/alembic_migrations/versions/EXPAND_HEAD
  neutron/db/migration/alembic_migrations/versions/ussuri/expand/263d454a9655_add_dns_publish_fixed_ip_to_subnets.py
  neutron/db/models/dns.py
  neutron/extensions/subnet_dns_publish_fixed_ip.py
  neutron/objects/subnet.py
  neutron/plugins/ml2/extensions/dns_integration.py
  neutron/plugins/ml2/extensions/subnet_dns_publish_fixed_ip.py
  neutron/tests/contrib/hooks/api_all_extensions
  neutron/tests/unit/extensions/test_subnet_dns_publish_fixed_ip.py
  neutron/tests/unit/objects/test_objects.py
  releasenotes/notes/subnet-dns-publish-fixed-ip-extension-6a5bb42a048a6671.yaml
  setup.cfg
Due: neutron-functional, neutron-fullstack, neutron-rally-task, neutron-ovn-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-ovn-grenade, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-tempest-postgres-full, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, neutron-centos-7-tripleo-standalone, neutron-ovn-tripleo-ci-centos-7-containers-multinode, neutron-ovn-base, neutron-ovn-tempest-ovs-master, neutron-ovn-tempest-ovs-release, neutron-ovn-tempest-ovs-master-fedora, neutron-ovn-tempest-slow, neutron-ovn-tempest-full-multinode-ovs-master, tempest-integrated-networking, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-midonet-tempest-aio-ml2-centos-7, tempest-ipv6-only

Fix TestHashRingManager test cases
  neutron/tests/unit/common/ovn/test_hash_ring_manager.py
Due: neutron-functional, neutron-fullstack, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi

[OVN] Import OVN Client, L3 and QoS related code
  neutron/db/ovn_revision_numbers_db.py
  neutron/plugins/ml2/drivers/ovn/mech_driver/ovsdb/ovn_client.py
  neutron/scheduler/l3_ovn_scheduler.py
  neutron/services/ovn_l3/__init__.py
  neutron/services/ovn_l3/plugin.py
  neutron/services/qos/drivers/ovn/__init__.py
  neutron/services/qos/drivers/ovn/driver.py
  neutron/tests/unit/scheduler/test_l3_ovn_scheduler.py
  neutron/tests/unit/services/ovn_l3/__init__.py
  neutron/tests/unit/services/ovn_l3/test_plugin.py
  neutron/tests/unit/services/qos/drivers/ovn/__init__.py
  neutron/tests/unit/services/qos/drivers/ovn/test_driver.py
  setup.cfg
Due: neutron-functional, neutron-fullstack, neutron-rally-task, neutron-ovn-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-ovn-grenade, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-tempest-postgres-full, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, neutron-centos-7-tripleo-standalone, neutron-ovn-tripleo-ci-centos-7-containers-multinode, neutron-ovn-base, neutron-ovn-tempest-ovs-master, neutron-ovn-tempest-ovs-release, neutron-ovn-tempest-ovs-master-fedora, neutron-ovn-tempest-slow, neutron-ovn-tempest-full-multinode-ovs-master, tempest-integrated-networking, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-midonet-tempest-aio-ml2-centos-7, tempest-ipv6-only

Set DB retry for quota_enforcement pecan_wsgi hook
  neutron/pecan_wsgi/hooks/quota_enforcement.py
  neutron/quota/resource_registry.py
Due: neutron-functional, neutron-fullstack, neutron-rally-task, neutron-ovn-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-ovn-grenade, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-tempest-postgres-full, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, neutron-centos-7-tripleo-standalone, neutron-ovn-tripleo-ci-centos-7-containers-multinode, neutron-ovn-base, neutron-ovn-tempest-ovs-master, neutron-ovn-tempest-ovs-release, neutron-ovn-tempest-ovs-master-fedora, neutron-ovn-tempest-slow, neutron-ovn-tempest-full-multinode-ovs-master, tempest-integrated-networking, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-midonet-tempest-aio-ml2-centos-7, tempest-ipv6-only

Add Neutron Priorities to dashboards list
  doc/source/contributor/dashboards/index.rst
Due: none

Check mtu on network update
  neutron/plugins/ml2/plugin.py
  neutron/tests/fullstack/test_mtu.py
Due: neutron-functional, neutron-fullstack, neutron-rally-task, neutron-ovn-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-ovn-grenade, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-tempest-postgres-full, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, neutron-centos-7-tripleo-standalone, neutron-ovn-tripleo-ci-centos-7-containers-multinode, neutron-ovn-base, neutron-ovn-tempest-ovs-master, neutron-ovn-tempest-ovs-release, neutron-ovn-tempest-ovs-master-fedora, neutron-ovn-tempest-slow, neutron-ovn-tempest-full-multinode-ovs-master, tempest-integrated-networking, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-midonet-tempest-aio-ml2-centos-7, tempest-ipv6-only

Support L3 agent cleanup on shutdown
  neutron/agent/l3/agent.py
  neutron/conf/agent/l3/config.py
  neutron/manager.py
  neutron/service.py
  neutron/tests/unit/agent/l3/test_agent.py
  releasenotes/notes/l3_agent_graceful_shutdown-87bf3304e6fab8a5.yaml
Due: neutron-functional, neutron-fullstack, neutron-rally-task, neutron-ovn-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-ovn-grenade, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-tempest-postgres-full, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, neutron-centos-7-tripleo-standalone, neutron-ovn-tripleo-ci-centos-7-containers-multinode, neutron-ovn-base, neutron-ovn-tempest-ovs-master, neutron-ovn-tempest-ovs-release, neutron-ovn-tempest-ovs-master-fedora, neutron-ovn-tempest-slow, neutron-ovn-tempest-full-multinode-ovs-master, tempest-integrated-networking, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-midonet-tempest-aio-ml2-centos-7, tempest-ipv6-only

Remove the neutron-grenade job definition
  playbooks/legacy/neutron-grenade/post.yaml
  playbooks/legacy/neutron-grenade/run.yaml
  zuul.d/grenade.yaml
Due: neutron-functional, neutron-fullstack, neutron-rally-task, neutron-ovn-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-ovn-grenade, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-tempest-postgres-full, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, neutron-centos-7-tripleo-standalone, neutron-ovn-tripleo-ci-centos-7-containers-multinode, neutron-ovn-base, neutron-ovn-tempest-ovs-master, neutron-ovn-tempest-ovs-release, neutron-ovn-tempest-ovs-master-fedora, neutron-ovn-tempest-slow, neutron-ovn-tempest-full-multinode-ovs-master, tempest-integrated-networking, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-midonet-tempest-aio-ml2-centos-7, tempest-ipv6-only

Check "keepalived" is stopped in KeepalivedManagerTestCase
  neutron/tests/functional/agent/linux/test_keepalived.py
Due: neutron-functional, neutron-fullstack, neutron-rally-task, neutron-ovn-rally-task, neutron-tempest-dvr, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-ovn-grenade, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-tempest-postgres-full, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, neutron-centos-7-tripleo-standalone, neutron-ovn-tripleo-ci-centos-7-containers-multinode, neutron-ovn-base, neutron-ovn-tempest-ovs-master, neutron-ovn-tempest-ovs-release, neutron-ovn-tempest-ovs-master-fedora, neutron-ovn-tempest-slow, neutron-ovn-tempest-full-multinode-ovs-master, tempest-integrated-networking, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-midonet-tempest-aio-ml2-centos-7, tempest-ipv6-only

Cap hacking in test-requirements.txt
  test-requirements.txt
Due: neutron-functional, neutron-fullstack, neutron-rally-task, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi

Update TOX_ENV_SRC_MODULES example
  TESTING.rst
Due: none

Use constraints for docs tox target and cap hacking
  doc/source/admin/config-services-agent.rst
  test-requirements.txt
  tox.ini
Due: neutron-functional, neutron-fullstack, neutron-rally-task, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi

Unnecessary routers should not be created
  neutron/db/l3_dvrscheduler_db.py
  neutron/tests/unit/db/test_agentschedulers_db.py
Due: neutron-functional, neutron-fullstack, neutron-rally-task, neutron-ovn-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-ovn-grenade, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-tempest-postgres-full, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, neutron-centos-7-tripleo-standalone, neutron-ovn-tripleo-ci-centos-7-containers-multinode, neutron-ovn-base, neutron-ovn-tempest-ovs-master, neutron-ovn-tempest-ovs-release, neutron-ovn-tempest-ovs-master-fedora, neutron-ovn-tempest-slow, neutron-ovn-tempest-full-multinode-ovs-master, tempest-integrated-networking, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-midonet-tempest-aio-ml2-centos-7, tempest-ipv6-only

Move tripleo standalone job to ostempest
  zuul.d/tripleo.yaml
Due: neutron-functional, neutron-fullstack, neutron-rally-task, neutron-ovn-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-ovn-grenade, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-tempest-postgres-full, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, neutron-centos-7-tripleo-standalone, neutron-ovn-tripleo-ci-centos-7-containers-multinode, neutron-ovn-base, neutron-ovn-tempest-ovs-master, neutron-ovn-tempest-ovs-release, neutron-ovn-tempest-ovs-master-fedora, neutron-ovn-tempest-slow, neutron-ovn-tempest-full-multinode-ovs-master, tempest-integrated-networking, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-midonet-tempest-aio-ml2-centos-7, tempest-ipv6-only

Use constraints for docs tox target and cap hacking
  doc/requirements.txt
  test-requirements.txt
  tox.ini
Due: neutron-functional, neutron-fullstack, neutron-rally-task, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi

[L3] Switch order of processing added and removed router ports
  neutron/agent/l3/router_info.py
Due: neutron-functional, neutron-fullstack, neutron-rally-task, neutron-ovn-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-ovn-grenade, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-tempest-postgres-full, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, neutron-centos-7-tripleo-standalone, neutron-ovn-tripleo-ci-centos-7-containers-multinode, neutron-ovn-base, neutron-ovn-tempest-ovs-master, neutron-ovn-tempest-ovs-release, neutron-ovn-tempest-ovs-master-fedora, neutron-ovn-tempest-slow, neutron-ovn-tempest-full-multinode-ovs-master, tempest-integrated-networking, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-midonet-tempest-aio-ml2-centos-7, tempest-ipv6-only

Work around potential double row.delete() call
  neutron/plugins/ml2/drivers/ovn/mech_driver/ovsdb/commands.py
Due: neutron-functional, neutron-fullstack, neutron-rally-task, neutron-ovn-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-ovn-grenade, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-tempest-postgres-full, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, neutron-centos-7-tripleo-standalone, neutron-ovn-tripleo-ci-centos-7-containers-multinode, neutron-ovn-base, neutron-ovn-tempest-ovs-master, neutron-ovn-tempest-ovs-release, neutron-ovn-tempest-ovs-master-fedora, neutron-ovn-tempest-slow, neutron-ovn-tempest-full-multinode-ovs-master, tempest-integrated-networking, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-midonet-tempest-aio-ml2-centos-7, tempest-ipv6-only

don't clear skb mark when ovs is hw-offload enabled
  neutron/agent/common/ovs_lib.py
  neutron/tests/unit/agent/common/test_ovs_lib.py
  neutron/tests/unit/plugins/ml2/drivers/openvswitch/agent/openflow/ovs_ofctl/test_br_tun.py
Due: neutron-functional, neutron-fullstack, neutron-rally-task, neutron-ovn-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-ovn-grenade, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-tempest-postgres-full, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, neutron-centos-7-tripleo-standalone, neutron-ovn-tripleo-ci-centos-7-containers-multinode, neutron-ovn-base, neutron-ovn-tempest-ovs-master, neutron-ovn-tempest-ovs-release, neutron-ovn-tempest-ovs-master-fedora, neutron-ovn-tempest-slow, neutron-ovn-tempest-full-multinode-ovs-master, tempest-integrated-networking, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-midonet-tempest-aio-ml2-centos-7, tempest-ipv6-only

OVSInterfaceDriver.plug_new should catch correct exceptions
  neutron/agent/linux/interface.py
  neutron/tests/unit/agent/linux/test_interface.py
Due: neutron-functional, neutron-fullstack, neutron-rally-task, neutron-ovn-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-ovn-grenade, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-tempest-postgres-full, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, neutron-centos-7-tripleo-standalone, neutron-ovn-tripleo-ci-centos-7-containers-multinode, neutron-ovn-base, neutron-ovn-tempest-ovs-master, neutron-ovn-tempest-ovs-release, neutron-ovn-tempest-ovs-master-fedora, neutron-ovn-tempest-slow, neutron-ovn-tempest-full-multinode-ovs-master, tempest-integrated-networking, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-midonet-tempest-aio-ml2-centos-7, tempest-ipv6-only

Use "via" in gateway dictionary in Linux Bridge agent
  neutron/agent/linux/ip_lib.py
  neutron/plugins/ml2/drivers/linuxbridge/agent/linuxbridge_neutron_agent.py
  neutron/tests/functional/agent/linux/test_ip_lib.py
  neutron/tests/unit/plugins/ml2/drivers/linuxbridge/agent/test_linuxbridge_neutron_agent.py
Due: neutron-functional, neutron-fullstack, neutron-rally-task, neutron-ovn-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-ovn-grenade, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-tempest-postgres-full, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, neutron-centos-7-tripleo-standalone, neutron-ovn-tripleo-ci-centos-7-containers-multinode, neutron-ovn-base, neutron-ovn-tempest-ovs-master, neutron-ovn-tempest-ovs-release, neutron-ovn-tempest-ovs-master-fedora, neutron-ovn-tempest-slow, neutron-ovn-tempest-full-multinode-ovs-master, tempest-integrated-networking, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-midonet-tempest-aio-ml2-centos-7, tempest-ipv6-only

Improve ovs cleanup utility help
  neutron/conf/agent/cmd.py
Due: neutron-functional, neutron-fullstack, neutron-rally-task, neutron-ovn-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-ovn-grenade, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-tempest-postgres-full, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, neutron-centos-7-tripleo-standalone, neutron-ovn-tripleo-ci-centos-7-containers-multinode, neutron-ovn-base, neutron-ovn-tempest-ovs-master, neutron-ovn-tempest-ovs-release, neutron-ovn-tempest-ovs-master-fedora, neutron-ovn-tempest-slow, neutron-ovn-tempest-full-multinode-ovs-master, tempest-integrated-networking, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-midonet-tempest-aio-ml2-centos-7, tempest-ipv6-only

Locate RP-tree parent by hypervisor name
  neutron/agent/common/placement_report.py
  neutron/agent/common/utils.py
  neutron/conf/plugins/ml2/drivers/mech_sriov/agent_common.py
  neutron/conf/plugins/ml2/drivers/ovs_conf.py
  neutron/plugins/ml2/drivers/mech_sriov/agent/sriov_nic_agent.py
  neutron/plugins/ml2/drivers/openvswitch/agent/ovs_neutron_agent.py
  neutron/services/placement_report/plugin.py
  neutron/tests/unit/agent/common/test_placement_report.py
  neutron/tests/unit/agent/common/test_utils.py
  neutron/tests/unit/plugins/ml2/drivers/mech_sriov/agent/test_sriov_nic_agent.py
  neutron/tests/unit/services/placement_report/test_plugin.py
  releasenotes/notes/locate-rp-tree-parent-by-hypervisor-name-3244ed87dc57f950.yaml
Due: neutron-functional, neutron-fullstack, neutron-rally-task, neutron-ovn-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-ovn-grenade, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-tempest-postgres-full, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, neutron-centos-7-tripleo-standalone, neutron-ovn-tripleo-ci-centos-7-containers-multinode, neutron-ovn-base, neutron-ovn-tempest-ovs-master, neutron-ovn-tempest-ovs-release, neutron-ovn-tempest-ovs-master-fedora, neutron-ovn-tempest-slow, neutron-ovn-tempest-full-multinode-ovs-master, tempest-integrated-networking, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-midonet-tempest-aio-ml2-centos-7, tempest-ipv6-only

Imported Translations from Zanata
  neutron/locale/de/LC_MESSAGES/neutron.po
  neutron/locale/es/LC_MESSAGES/neutron.po
  neutron/locale/fr/LC_MESSAGES/neutron.po
  neutron/locale/it/LC_MESSAGES/neutron.po
  neutron/locale/ja/LC_MESSAGES/neutron.po
  neutron/locale/ko_KR/LC_MESSAGES/neutron.po
  neutron/locale/pt_BR/LC_MESSAGES/neutron.po
  neutron/locale/ru/LC_MESSAGES/neutron.po
  neutron/locale/tr_TR/LC_MESSAGES/neutron.po
  neutron/locale/zh_CN/LC_MESSAGES/neutron.po
  neutron/locale/zh_TW/LC_MESSAGES/neutron.po
  releasenotes/source/locale/fr/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/ko_KR/LC_MESSAGES/releasenotes.po
Due: none

Disable not needed services in grenade jobs
  playbooks/legacy/neutron-grenade-dvr-multinode/run.yaml
  playbooks/legacy/neutron-grenade-multinode/run.yaml
Due: neutron-functional, neutron-fullstack, neutron-rally-task, neutron-ovn-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-ovn-grenade, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-tempest-postgres-full, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, neutron-centos-7-tripleo-standalone, neutron-ovn-tripleo-ci-centos-7-containers-multinode, neutron-ovn-base, neutron-ovn-tempest-ovs-master, neutron-ovn-tempest-ovs-release, neutron-ovn-tempest-ovs-master-fedora, neutron-ovn-tempest-slow, neutron-ovn-tempest-full-multinode-ovs-master, tempest-integrated-networking, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-midonet-tempest-aio-ml2-centos-7, tempest-ipv6-only

Subnet gateway should be a valid IP
  neutron/db/ipam_backend_mixin.py
  neutron/ipam/utils.py
  neutron/tests/fullstack/resources/client.py
  neutron/tests/fullstack/test_subnet.py
  neutron/tests/unit/db/test_db_base_plugin_v2.py
  neutron/tests/unit/db/test_ipam_pluggable_backend.py
  neutron/tests/unit/extensions/test_network_ip_availability.py
  neutron/tests/unit/services/ovn_l3/test_plugin.py
Due: neutron-functional, neutron-fullstack, neutron-rally-task, neutron-ovn-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-ovn-grenade, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-tempest-postgres-full, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, neutron-centos-7-tripleo-standalone, neutron-ovn-tripleo-ci-centos-7-containers-multinode, neutron-ovn-base, neutron-ovn-tempest-ovs-master, neutron-ovn-tempest-ovs-release, neutron-ovn-tempest-ovs-master-fedora, neutron-ovn-tempest-slow, neutron-ovn-tempest-full-multinode-ovs-master, tempest-integrated-networking, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-midonet-tempest-aio-ml2-centos-7, tempest-ipv6-only

Pass correct port data to extension manager
  neutron/plugins/ml2/plugin.py
Due: neutron-functional, neutron-fullstack, neutron-rally-task, neutron-ovn-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-ovn-grenade, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-tempest-postgres-full, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, neutron-centos-7-tripleo-standalone, neutron-ovn-tripleo-ci-centos-7-containers-multinode, neutron-ovn-base, neutron-ovn-tempest-ovs-master, neutron-ovn-tempest-ovs-release, neutron-ovn-tempest-ovs-master-fedora, neutron-ovn-tempest-slow, neutron-ovn-tempest-full-multinode-ovs-master, tempest-integrated-networking, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-midonet-tempest-aio-ml2-centos-7, tempest-ipv6-only
