Repository openstack/neutron: changes, and which Zuul jobs are due for each by the changed paths.
All: neutron-functional, neutron-fullstack, neutron-rally-task, neutron-ovn-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-ovn-grenade, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-tempest-postgres-full, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, neutron-centos-7-tripleo-standalone, neutron-ovn-tripleo-ci-centos-7-containers-multinode, neutron-ovn-base, neutron-ovn-tempest-ovs-master, neutron-ovn-tempest-ovs-release, neutron-ovn-tempest-ovs-master-fedora, neutron-ovn-tempest-slow, neutron-ovn-tempest-full-multinode-ovs-master, tempest-integrated-networking, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-midonet-tempest-aio-ml2-centos-7, tempest-ipv6-only

neutron-functional:
  parent: devstack-minimal
  description: Run neutron functional tests
  timeout: 7800
  required-projects:
  - opendev.org/openstack/devstack
  - openstack/neutron
  - openstack/requirements
  roles:
  - zuul: openstack/devstack
  pre-run: playbooks/configure_functional_job.yaml
  run: playbooks/run_functional_job.yaml
  ...

neutron-fullstack:
  parent: neutron-functional
  vars:
    tox_envlist: dsvm-fullstack
    zuul_copy_output:
      '{{ devstack_base_dir }}/logs/dsvm-fullstack-logs': logs

neutron-rally-task:
  parent: rally-task-neutron
  timeout: 10800
  vars:
    devstack_localrc:
      USE_PYTHON3: true
      OSPROFILER_COLLECTOR: redis
      OSPROFILER_HMAC_KEYS: neutron-hmac-key-used-in-zuul-ci
    rally_task: rally-jobs/task-neutron.yaml
    devstack_plugins:
  ...

neutron-ovn-rally-task:
  parent: rally-task-at-devstack
  required-projects:
  - name: openstack/devstack
  - name: openstack/devstack-gate
  - name: openstack/rally
  - name: openstack/rally-openstack
  - name: openstack/networking-ovn
  vars:
    devstack_plugins:
      rally-openstack: https://opendev.org/openstack/rally-openstack
  ...

neutron-tempest-dvr:
  parent: tempest-integrated-networking
  timeout: 10800
  required-projects:
  - openstack/devstack-gate
  - openstack/neutron
  - openstack/tempest
  vars:
    tempest_concurrency: 4
    devstack_localrc:
      Q_DVR_MODE: dvr_snat

neutron-tempest-linuxbridge:
  parent: tempest-integrated-networking
  timeout: 10800
  required-projects:
  - openstack/devstack-gate
  - openstack/neutron
  - openstack/tempest
  vars:
    tempest_concurrency: 4
    devstack_localrc:
      Q_AGENT: linuxbridge

neutron-grenade-multinode:
  parent: legacy-dsvm-base-multinode
  run: playbooks/legacy/neutron-grenade-multinode/run.yaml
  post-run: playbooks/legacy/neutron-grenade-multinode/post.yaml
  timeout: 10800
  required-projects:
  - openstack/grenade
  - openstack/devstack-gate
  - openstack/neutron

neutron-grenade-dvr-multinode:
  parent: legacy-dsvm-base-multinode
  run: playbooks/legacy/neutron-grenade-dvr-multinode/run.yaml
  post-run: playbooks/legacy/neutron-grenade-dvr-multinode/post.yaml
  timeout: 7500
  required-projects:
  - openstack/grenade
  - openstack/devstack-gate
  - openstack/neutron

neutron-ovn-grenade:
  parent: legacy-dsvm-base
  run: playbooks/legacy/grenade-dsvm-networking-ovn/run.yaml
  post-run: playbooks/legacy/grenade-dsvm-networking-ovn/post.yaml
  timeout: 9000
  required-projects:
  - openstack/grenade
  - openstack/devstack-gate
  - openstack/neutron-tempest-plugin
  - openstack/tempest
  ...

neutron-tempest-dvr-ha-multinode-full:
  parent: tempest-multinode-full-py3
  nodeset: openstack-three-node-bionic
  timeout: 10800
  roles:
  - zuul: openstack/neutron-tempest-plugin
  required-projects:
  - openstack/devstack-gate
  - openstack/neutron
  - openstack/tempest
  pre-run: playbooks/dvr-multinode-scenario-pre-run.yaml
  voting: false
  vars:
  ...

Improve VLAN allocations synchronization
  neutron/objects/plugins/ml2/vlanallocation.py
  neutron/plugins/ml2/drivers/type_vlan.py
  neutron/tests/unit/plugins/ml2/drivers/test_type_vlan.py
Due: neutron-functional, neutron-fullstack, neutron-rally-task, neutron-ovn-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-ovn-grenade, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-tempest-postgres-full, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, neutron-centos-7-tripleo-standalone, neutron-ovn-tripleo-ci-centos-7-containers-multinode, neutron-ovn-base, neutron-ovn-tempest-ovs-master, neutron-ovn-tempest-ovs-release, neutron-ovn-tempest-ovs-master-fedora, neutron-ovn-tempest-slow, neutron-ovn-tempest-full-multinode-ovs-master, tempest-integrated-networking, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-midonet-tempest-aio-ml2-centos-7, tempest-ipv6-only

Lock subnets during port creation and subnet deletion
  neutron/db/db_base_plugin_v2.py
  neutron/db/ipam_backend_mixin.py
  neutron/db/migration/alembic_migrations/versions/EXPAND_HEAD
  neutron/db/migration/alembic_migrations/versions/ussuri/expand/d8bdf05313f4_add_in_use_to_subnet.py
  neutron/db/models_v2.py
  neutron/objects/ports.py
  neutron/tests/unit/plugins/ml2/test_plugin.py
Due: neutron-functional, neutron-fullstack, neutron-rally-task, neutron-ovn-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-ovn-grenade, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-tempest-postgres-full, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, neutron-centos-7-tripleo-standalone, neutron-ovn-tripleo-ci-centos-7-containers-multinode, neutron-ovn-base, neutron-ovn-tempest-ovs-master, neutron-ovn-tempest-ovs-release, neutron-ovn-tempest-ovs-master-fedora, neutron-ovn-tempest-slow, neutron-ovn-tempest-full-multinode-ovs-master, tempest-integrated-networking, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-midonet-tempest-aio-ml2-centos-7, tempest-ipv6-only

Do not link up HA router gateway in backup node
  neutron/agent/l3/dvr_edge_ha_router.py
  neutron/agent/l3/ha.py
  neutron/agent/l3/ha_router.py
  neutron/agent/l3/router_info.py
  neutron/agent/linux/interface.py
  neutron/agent/linux/keepalived.py
  neutron/tests/unit/agent/l3/test_dvr_local_router.py
Due: neutron-functional, neutron-fullstack, neutron-rally-task, neutron-ovn-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-ovn-grenade, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-tempest-postgres-full, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, neutron-centos-7-tripleo-standalone, neutron-ovn-tripleo-ci-centos-7-containers-multinode, neutron-ovn-base, neutron-ovn-tempest-ovs-master, neutron-ovn-tempest-ovs-release, neutron-ovn-tempest-ovs-master-fedora, neutron-ovn-tempest-slow, neutron-ovn-tempest-full-multinode-ovs-master, tempest-integrated-networking, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-midonet-tempest-aio-ml2-centos-7, tempest-ipv6-only

Check "security_group_rule" quota during security group creation
  neutron/db/securitygroups_db.py
  neutron/tests/fullstack/resources/client.py
  neutron/tests/fullstack/test_securitygroup.py
  neutron/tests/functional/db/test_network.py
  neutron/tests/unit/db/test_l3_hamode_db.py
  neutron/tests/unit/db/test_securitygroups_db.py
  neutron/tests/unit/plugins/ml2/test_plugin.py
  neutron/tests/unit/scheduler/test_l3_agent_scheduler.py
Due: neutron-functional, neutron-fullstack, neutron-rally-task, neutron-ovn-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-ovn-grenade, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-tempest-postgres-full, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, neutron-centos-7-tripleo-standalone, neutron-ovn-tripleo-ci-centos-7-containers-multinode, neutron-ovn-base, neutron-ovn-tempest-ovs-master, neutron-ovn-tempest-ovs-release, neutron-ovn-tempest-ovs-master-fedora, neutron-ovn-tempest-slow, neutron-ovn-tempest-full-multinode-ovs-master, tempest-integrated-networking, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-midonet-tempest-aio-ml2-centos-7, tempest-ipv6-only

Workaround in NetworkSegmentRange OVO until "project_id" migration
  neutron/objects/network_segment_range.py
  neutron/tests/unit/objects/test_base.py
  neutron/tests/unit/objects/test_network_segment_range.py
Due: neutron-functional, neutron-fullstack, neutron-rally-task, neutron-ovn-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-ovn-grenade, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-tempest-postgres-full, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, neutron-centos-7-tripleo-standalone, neutron-ovn-tripleo-ci-centos-7-containers-multinode, neutron-ovn-base, neutron-ovn-tempest-ovs-master, neutron-ovn-tempest-ovs-release, neutron-ovn-tempest-ovs-master-fedora, neutron-ovn-tempest-slow, neutron-ovn-tempest-full-multinode-ovs-master, tempest-integrated-networking, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-midonet-tempest-aio-ml2-centos-7, tempest-ipv6-only

Update .gitreview for stable/ussuri
  .gitreview
Due: neutron-functional, neutron-fullstack, neutron-rally-task, neutron-ovn-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-ovn-grenade, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-tempest-postgres-full, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, neutron-centos-7-tripleo-standalone, neutron-ovn-tripleo-ci-centos-7-containers-multinode, neutron-ovn-base, neutron-ovn-tempest-ovs-master, neutron-ovn-tempest-ovs-release, neutron-ovn-tempest-ovs-master-fedora, neutron-ovn-tempest-slow, neutron-ovn-tempest-full-multinode-ovs-master, tempest-integrated-networking, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-midonet-tempest-aio-ml2-centos-7, tempest-ipv6-only

Update TOX_CONSTRAINTS_FILE for stable/ussuri
  tox.ini
Due: neutron-functional, neutron-fullstack, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi

Update master for stable/ussuri
  releasenotes/source/index.rst
  releasenotes/source/ussuri.rst
Due: none

Add Python3 victoria unit tests
  zuul.d/project.yaml
Due: neutron-functional, neutron-fullstack, neutron-rally-task, neutron-ovn-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-ovn-grenade, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-tempest-postgres-full, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, neutron-centos-7-tripleo-standalone, neutron-ovn-tripleo-ci-centos-7-containers-multinode, neutron-ovn-base, neutron-ovn-tempest-ovs-master, neutron-ovn-tempest-ovs-release, neutron-ovn-tempest-ovs-master-fedora, neutron-ovn-tempest-slow, neutron-ovn-tempest-full-multinode-ovs-master, tempest-integrated-networking, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-midonet-tempest-aio-ml2-centos-7, tempest-ipv6-only

Bump default tox env from py37 to py38
  tox.ini
Due: neutron-functional, neutron-fullstack, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi

Not remove the running router when MQ is unreachable
  neutron/agent/l3/agent.py
  neutron/tests/unit/agent/l3/test_agent.py
Due: neutron-functional, neutron-fullstack, neutron-rally-task, neutron-ovn-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-ovn-grenade, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-tempest-postgres-full, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, neutron-centos-7-tripleo-standalone, neutron-ovn-tripleo-ci-centos-7-containers-multinode, neutron-ovn-base, neutron-ovn-tempest-ovs-master, neutron-ovn-tempest-ovs-release, neutron-ovn-tempest-ovs-master-fedora, neutron-ovn-tempest-slow, neutron-ovn-tempest-full-multinode-ovs-master, tempest-integrated-networking, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-midonet-tempest-aio-ml2-centos-7, tempest-ipv6-only

Replace ctype.CDLL by ctypes.PyDLL in linux.ip_lib
  neutron/privileged/agent/linux/ip_lib.py
Due: neutron-functional, neutron-fullstack, neutron-rally-task, neutron-ovn-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-ovn-grenade, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-tempest-postgres-full, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, neutron-centos-7-tripleo-standalone, neutron-ovn-tripleo-ci-centos-7-containers-multinode, neutron-ovn-base, neutron-ovn-tempest-ovs-master, neutron-ovn-tempest-ovs-release, neutron-ovn-tempest-ovs-master-fedora, neutron-ovn-tempest-slow, neutron-ovn-tempest-full-multinode-ovs-master, tempest-integrated-networking, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-midonet-tempest-aio-ml2-centos-7, tempest-ipv6-only

Imported Translations from Zanata
  neutron/locale/de/LC_MESSAGES/neutron.po
  neutron/locale/es/LC_MESSAGES/neutron.po
  neutron/locale/fr/LC_MESSAGES/neutron.po
  neutron/locale/it/LC_MESSAGES/neutron.po
  neutron/locale/ja/LC_MESSAGES/neutron.po
  neutron/locale/ko_KR/LC_MESSAGES/neutron.po
  neutron/locale/pt_BR/LC_MESSAGES/neutron.po
  neutron/locale/ru/LC_MESSAGES/neutron.po
  neutron/locale/zh_CN/LC_MESSAGES/neutron.po
  neutron/locale/zh_TW/LC_MESSAGES/neutron.po
  releasenotes/source/locale/fr/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/ko_KR/LC_MESSAGES/releasenotes.po
Due: none

Imported Translations from Zanata
  neutron/locale/de/LC_MESSAGES/neutron.po
  neutron/locale/es/LC_MESSAGES/neutron.po
  neutron/locale/fr/LC_MESSAGES/neutron.po
  neutron/locale/it/LC_MESSAGES/neutron.po
  neutron/locale/ja/LC_MESSAGES/neutron.po
  neutron/locale/ko_KR/LC_MESSAGES/neutron.po
  neutron/locale/pt_BR/LC_MESSAGES/neutron.po
  neutron/locale/ru/LC_MESSAGES/neutron.po
  neutron/locale/zh_CN/LC_MESSAGES/neutron.po
  neutron/locale/zh_TW/LC_MESSAGES/neutron.po
  releasenotes/source/locale/ja/LC_MESSAGES/releasenotes.po
Due: none

[OVN] Do not delete port's revision on RowNotFound
  neutron/plugins/ml2/drivers/ovn/mech_driver/ovsdb/ovn_client.py
  neutron/tests/unit/plugins/ml2/drivers/ovn/mech_driver/test_mech_driver.py
Due: neutron-functional, neutron-fullstack, neutron-rally-task, neutron-ovn-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-ovn-grenade, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-tempest-postgres-full, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, neutron-centos-7-tripleo-standalone, neutron-ovn-tripleo-ci-centos-7-containers-multinode, neutron-ovn-base, neutron-ovn-tempest-ovs-master, neutron-ovn-tempest-ovs-release, neutron-ovn-tempest-ovs-master-fedora, neutron-ovn-tempest-slow, neutron-ovn-tempest-full-multinode-ovs-master, tempest-integrated-networking, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-midonet-tempest-aio-ml2-centos-7, tempest-ipv6-only

[OVN][metadata] Adding ERROR trace upon unexpected data
  neutron/agent/ovn/metadata/server.py
Due: neutron-functional, neutron-fullstack, neutron-rally-task, neutron-ovn-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-ovn-grenade, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-tempest-postgres-full, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, neutron-centos-7-tripleo-standalone, neutron-ovn-tripleo-ci-centos-7-containers-multinode, neutron-ovn-base, neutron-ovn-tempest-ovs-master, neutron-ovn-tempest-ovs-release, neutron-ovn-tempest-ovs-master-fedora, neutron-ovn-tempest-slow, neutron-ovn-tempest-full-multinode-ovs-master, tempest-integrated-networking, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-midonet-tempest-aio-ml2-centos-7, tempest-ipv6-only

[OVN] Enable test_multicast_between_vms_on_same_network
  devstack/lib/ovn_agent
  zuul.d/tempest-multinode.yaml
  zuul.d/tempest-singlenode.yaml
Due: neutron-functional, neutron-fullstack, neutron-rally-task, neutron-ovn-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-ovn-grenade, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-tempest-postgres-full, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, neutron-centos-7-tripleo-standalone, neutron-ovn-tripleo-ci-centos-7-containers-multinode, neutron-ovn-base, neutron-ovn-tempest-ovs-master, neutron-ovn-tempest-ovs-release, neutron-ovn-tempest-ovs-master-fedora, neutron-ovn-tempest-slow, neutron-ovn-tempest-full-multinode-ovs-master, tempest-integrated-networking, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-midonet-tempest-aio-ml2-centos-7, tempest-ipv6-only

Switch create/delete interfaces to pyroute2
  neutron/agent/linux/ip_lib.py
  neutron/privileged/agent/linux/ip_lib.py
  neutron/tests/unit/agent/linux/test_ip_lib.py
  neutron/tests/unit/privileged/agent/linux/test_ip_lib.py
Due: neutron-functional, neutron-fullstack, neutron-rally-task, neutron-ovn-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-ovn-grenade, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-tempest-postgres-full, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, neutron-centos-7-tripleo-standalone, neutron-ovn-tripleo-ci-centos-7-containers-multinode, neutron-ovn-base, neutron-ovn-tempest-ovs-master, neutron-ovn-tempest-ovs-release, neutron-ovn-tempest-ovs-master-fedora, neutron-ovn-tempest-slow, neutron-ovn-tempest-full-multinode-ovs-master, tempest-integrated-networking, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-midonet-tempest-aio-ml2-centos-7, tempest-ipv6-only

move neutron only common constants to private module
  neutron/agent/linux/iptables_firewall.py
  neutron/common/_constants.py
  neutron/common/constants.py
  neutron/db/securitygroups_db.py
Due: neutron-functional, neutron-fullstack, neutron-rally-task, neutron-ovn-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-ovn-grenade, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-tempest-postgres-full, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, neutron-centos-7-tripleo-standalone, neutron-ovn-tripleo-ci-centos-7-containers-multinode, neutron-ovn-base, neutron-ovn-tempest-ovs-master, neutron-ovn-tempest-ovs-release, neutron-ovn-tempest-ovs-master-fedora, neutron-ovn-tempest-slow, neutron-ovn-tempest-full-multinode-ovs-master, tempest-integrated-networking, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-midonet-tempest-aio-ml2-centos-7, tempest-ipv6-only

migration: Replace paunch with podman and ip commands
  tools/ovn_migration/tripleo_environment/playbooks/roles/migration/defaults/main.yml
  tools/ovn_migration/tripleo_environment/playbooks/roles/migration/tasks/cleanup-dataplane.yml
Due: neutron-functional, neutron-fullstack, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi

Updates for python3.8
  TESTING.rst
  doc/source/contributor/alembic_migrations.rst
  etc/neutron/rootwrap.d/l3.filters
  tools/pip_install_src_modules.sh
  zuul.d/project.yaml
Due: neutron-functional, neutron-fullstack, neutron-rally-task, neutron-ovn-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-ovn-grenade, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-tempest-postgres-full, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, neutron-centos-7-tripleo-standalone, neutron-ovn-tripleo-ci-centos-7-containers-multinode, neutron-ovn-base, neutron-ovn-tempest-ovs-master, neutron-ovn-tempest-ovs-release, neutron-ovn-tempest-ovs-master-fedora, neutron-ovn-tempest-slow, neutron-ovn-tempest-full-multinode-ovs-master, tempest-integrated-networking, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-midonet-tempest-aio-ml2-centos-7, tempest-ipv6-only

ensure default security group exists when filter by project_id
  neutron/db/securitygroups_db.py
Due: neutron-functional, neutron-fullstack, neutron-rally-task, neutron-ovn-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-ovn-grenade, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-tempest-postgres-full, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, neutron-centos-7-tripleo-standalone, neutron-ovn-tripleo-ci-centos-7-containers-multinode, neutron-ovn-base, neutron-ovn-tempest-ovs-master, neutron-ovn-tempest-ovs-release, neutron-ovn-tempest-ovs-master-fedora, neutron-ovn-tempest-slow, neutron-ovn-tempest-full-multinode-ovs-master, tempest-integrated-networking, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-midonet-tempest-aio-ml2-centos-7, tempest-ipv6-only

Revising log with wrong network_id when create port failed
  neutron/db/ipam_backend_mixin.py
  neutron/db/ipam_pluggable_backend.py
Due: neutron-functional, neutron-fullstack, neutron-rally-task, neutron-ovn-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-ovn-grenade, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-tempest-postgres-full, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, neutron-centos-7-tripleo-standalone, neutron-ovn-tripleo-ci-centos-7-containers-multinode, neutron-ovn-base, neutron-ovn-tempest-ovs-master, neutron-ovn-tempest-ovs-release, neutron-ovn-tempest-ovs-master-fedora, neutron-ovn-tempest-slow, neutron-ovn-tempest-full-multinode-ovs-master, tempest-integrated-networking, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-midonet-tempest-aio-ml2-centos-7, tempest-ipv6-only

[ovn] Add PortBinding delete event for external ports
  neutron/agent/ovn/metadata/agent.py
  neutron/tests/functional/agent/ovn/metadata/test_metadata_agent.py
Due: neutron-functional, neutron-fullstack, neutron-rally-task, neutron-ovn-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-ovn-grenade, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-tempest-postgres-full, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, neutron-centos-7-tripleo-standalone, neutron-ovn-tripleo-ci-centos-7-containers-multinode, neutron-ovn-base, neutron-ovn-tempest-ovs-master, neutron-ovn-tempest-ovs-release, neutron-ovn-tempest-ovs-master-fedora, neutron-ovn-tempest-slow, neutron-ovn-tempest-full-multinode-ovs-master, tempest-integrated-networking, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-midonet-tempest-aio-ml2-centos-7, tempest-ipv6-only

migration: Use ForceNeutronDriverUpdate when migrating
  tools/ovn_migration/tripleo_environment/playbooks/roles/tripleo-update/templates/generate-ovn-extras.sh.j2
Due: neutron-functional, neutron-fullstack, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi

Fix queries to retrieve allocations with network_segment_range
  neutron/common/_constants.py
  neutron/db/models/plugins/ml2/geneveallocation.py
  neutron/db/models/plugins/ml2/gre_allocation_endpoints.py
  neutron/db/models/plugins/ml2/vlanallocation.py
  neutron/db/models/plugins/ml2/vxlanallocation.py
  neutron/objects/network_segment_range.py
  neutron/objects/plugins/ml2/base.py
  neutron/objects/plugins/ml2/flatallocation.py
  neutron/objects/plugins/ml2/geneveallocation.py
  neutron/objects/plugins/ml2/greallocation.py
  neutron/objects/plugins/ml2/vlanallocation.py
  neutron/objects/plugins/ml2/vxlanallocation.py
  neutron/plugins/ml2/drivers/helpers.py
  neutron/tests/unit/objects/plugins/ml2/test_base.py
  neutron/tests/unit/objects/plugins/ml2/test_geneveallocation.py
  neutron/tests/unit/objects/plugins/ml2/test_greallocation.py
  neutron/tests/unit/objects/plugins/ml2/test_vlanallocation.py
  neutron/tests/unit/objects/plugins/ml2/test_vxlanallocation.py
  neutron/tests/unit/objects/test_network_segment_range.py
Due: neutron-functional, neutron-fullstack, neutron-rally-task, neutron-ovn-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-ovn-grenade, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-tempest-postgres-full, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, neutron-centos-7-tripleo-standalone, neutron-ovn-tripleo-ci-centos-7-containers-multinode, neutron-ovn-base, neutron-ovn-tempest-ovs-master, neutron-ovn-tempest-ovs-release, neutron-ovn-tempest-ovs-master-fedora, neutron-ovn-tempest-slow, neutron-ovn-tempest-full-multinode-ovs-master, tempest-integrated-networking, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-midonet-tempest-aio-ml2-centos-7, tempest-ipv6-only

Install "wmi" library in "win32" systems
  lower-constraints.txt
  requirements.txt
Due: neutron-functional, neutron-fullstack, neutron-rally-task, neutron-ovn-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-ovn-grenade, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-tempest-postgres-full, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, neutron-centos-7-tripleo-standalone, neutron-ovn-tripleo-ci-centos-7-containers-multinode, neutron-ovn-base, neutron-ovn-tempest-ovs-master, neutron-ovn-tempest-ovs-release, neutron-ovn-tempest-ovs-master-fedora, neutron-ovn-tempest-slow, neutron-ovn-tempest-full-multinode-ovs-master, tempest-integrated-networking, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-midonet-tempest-aio-ml2-centos-7, tempest-ipv6-only

[OVN] Documentation: SR-IOV guide for OVN
  doc/source/admin/ovn/index.rst
  doc/source/admin/ovn/sriov.rst
Due: none

Add a /healthcheck URL
  etc/api-paste.ini
Due: neutron-functional, neutron-fullstack, neutron-rally-task, neutron-ovn-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-ovn-grenade, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-tempest-postgres-full, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, neutron-centos-7-tripleo-standalone, neutron-ovn-tripleo-ci-centos-7-containers-multinode, neutron-ovn-base, neutron-ovn-tempest-ovs-master, neutron-ovn-tempest-ovs-release, neutron-ovn-tempest-ovs-master-fedora, neutron-ovn-tempest-slow, neutron-ovn-tempest-full-multinode-ovs-master, tempest-integrated-networking, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-midonet-tempest-aio-ml2-centos-7, tempest-ipv6-only

Remove unused method "_make_fixed_ip_dict"
  neutron/db/db_base_plugin_common.py
Due: neutron-functional, neutron-fullstack, neutron-rally-task, neutron-ovn-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-ovn-grenade, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-tempest-postgres-full, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, neutron-centos-7-tripleo-standalone, neutron-ovn-tripleo-ci-centos-7-containers-multinode, neutron-ovn-base, neutron-ovn-tempest-ovs-master, neutron-ovn-tempest-ovs-release, neutron-ovn-tempest-ovs-master-fedora, neutron-ovn-tempest-slow, neutron-ovn-tempest-full-multinode-ovs-master, tempest-integrated-networking, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-midonet-tempest-aio-ml2-centos-7, tempest-ipv6-only

Optimize subnet retrieval during CIDR validation
  neutron/db/ipam_backend_mixin.py
  neutron/objects/subnet.py
Due: neutron-functional, neutron-fullstack, neutron-rally-task, neutron-ovn-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-ovn-grenade, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-tempest-postgres-full, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, neutron-centos-7-tripleo-standalone, neutron-ovn-tripleo-ci-centos-7-containers-multinode, neutron-ovn-base, neutron-ovn-tempest-ovs-master, neutron-ovn-tempest-ovs-release, neutron-ovn-tempest-ovs-master-fedora, neutron-ovn-tempest-slow, neutron-ovn-tempest-full-multinode-ovs-master, tempest-integrated-networking, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-midonet-tempest-aio-ml2-centos-7, tempest-ipv6-only

Fix dhcpv6-statefull typo
  neutron/tests/unit/extensions/test_default_subnetpools.py
Due: neutron-functional, neutron-fullstack, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi

Add Prelude for Ussuri release notes.
  releasenotes/notes/Ussuri-prelude-ca4d793da2d0bc63.yaml
Due: none

[ovn]: Create neutron_pg_drop Port Group on init
  neutron/plugins/ml2/drivers/ovn/mech_driver/mech_driver.py
  neutron/plugins/ml2/drivers/ovn/mech_driver/ovsdb/ovn_client.py
  neutron/plugins/ml2/drivers/ovn/mech_driver/ovsdb/ovsdb_monitor.py
  neutron/tests/functional/base.py
  neutron/tests/functional/plugins/ml2/drivers/ovn/mech_driver/test_mech_driver.py
  neutron/tests/unit/plugins/ml2/drivers/ovn/mech_driver/ovsdb/test_ovsdb_monitor.py
  neutron/tests/unit/plugins/ml2/drivers/ovn/mech_driver/test_mech_driver.py
Due: neutron-functional, neutron-fullstack, neutron-rally-task, neutron-ovn-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-ovn-grenade, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-tempest-postgres-full, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, neutron-centos-7-tripleo-standalone, neutron-ovn-tripleo-ci-centos-7-containers-multinode, neutron-ovn-base, neutron-ovn-tempest-ovs-master, neutron-ovn-tempest-ovs-release, neutron-ovn-tempest-ovs-master-fedora, neutron-ovn-tempest-slow, neutron-ovn-tempest-full-multinode-ovs-master, tempest-integrated-networking, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-midonet-tempest-aio-ml2-centos-7, tempest-ipv6-only

Monkey patch original current_thread _active
  neutron/common/eventlet_utils.py
Due: neutron-functional, neutron-fullstack, neutron-rally-task, neutron-ovn-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-ovn-grenade, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-tempest-postgres-full, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, neutron-centos-7-tripleo-standalone, neutron-ovn-tripleo-ci-centos-7-containers-multinode, neutron-ovn-base, neutron-ovn-tempest-ovs-master, neutron-ovn-tempest-ovs-release, neutron-ovn-tempest-ovs-master-fedora, neutron-ovn-tempest-slow, neutron-ovn-tempest-full-multinode-ovs-master, tempest-integrated-networking, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-midonet-tempest-aio-ml2-centos-7, tempest-ipv6-only

Path conditions:
  neutron-functional: unless all of: ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^releasenotes/.*$
  neutron-fullstack: unless all of: ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^releasenotes/.*$
  neutron-rally-task: unless all of: ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$
  neutron-ovn-rally-task: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$
  neutron-tempest-dvr: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$
  neutron-tempest-linuxbridge: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-grenade-multinode: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$
  neutron-grenade-dvr-multinode: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$
  neutron-ovn-grenade: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$
  neutron-tempest-dvr-ha-multinode-full: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$
  neutron-tempest-iptables_hybrid: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$
  neutron-grenade: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$
  neutron-tempest-postgres-full: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$
  neutron-fullstack-with-uwsgi: unless all of: ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^releasenotes/.*$
  neutron-functional-with-uwsgi: unless all of: ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^releasenotes/.*$
  neutron-tempest-with-uwsgi: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$
  neutron-centos-7-tripleo-standalone: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$
  neutron-ovn-tripleo-ci-centos-7-containers-multinode: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$
  neutron-ovn-base: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$
  neutron-ovn-tempest-ovs-master: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$
  neutron-ovn-tempest-ovs-release: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$
  neutron-ovn-tempest-ovs-master-fedora: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$
  neutron-ovn-tempest-slow: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$
  neutron-ovn-tempest-full-multinode-ovs-master: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$
  tempest-integrated-networking: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$
  tempest-multinode-full-py3: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$
  ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$
  tempest-slow-py3: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$
  networking-midonet-tempest-aio-ml2-centos-7: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$
  tempest-ipv6-only: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$
